<section class="cta-section section bg-primary-light-three py-50">
  <div class="container">
    <div class="row">
      <div class="cta-content d-md-flex d-block justify-content-between align-items-center ">
        <div>
          <h3
            class="text-md-start text-center"
            data-aos="fade-up-right"
            data-aos-duration="700"
            data-aos-easing="ease-in-out"
          >
            Ready to elevate your brand online? <br />
            Let’s build something extraordinary together!
          </h3>
        </div>
        <div class="text-md-start text-center mt-md-0 mt-20">
          <a
            [routerLink]="'/book-now'"
            class="btn-cta"
            data-aos="fade-up-left"
            data-aos-duration="700"
            data-aos-easing="ease-in-out"
          >Request A Demo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="cta-frame">
    <div class="cta-left">
      <img
        src="images/home/frame/cta/cta-left.svg"
        alt="cta left"
      >
    </div>
    <div class="cta-right">
      <img
        src="images/home/frame/cta/cta-right.svg"
        alt="cta right"
      >
    </div>
    <div class="cta-bg">
      <img
        src="images/home/frame/cta/cta-bg.svg"
        alt="cta right"
      >
    </div>
  </div>
</section>