<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====|| Solutions Banner Start ||====-->
<section class="other-page-banner bg-yellow position-relative z-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2
          class="fw-bold text-capitalize text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >Terms & Conditions</h2>
        <p
          class="fs-lg-20 fs-md-18 fs-sm-16 fs-14 fw-medium mt-md-30 mt-10 mb-0 text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="1100"
          data-aos-easing="ease-in-out-cubic"
        > <span class="fw-bold">Last updated:</span> March 6th, 2024</p>
      </div>
    </div>
  </div>
  <other-banner-frame></other-banner-frame>
</section>
<!--====|| Solutions Banner End ||====-->

<!--====|| Main Section STart ||====-->
<main>
  <section class="section terms-and-conditions position-relative overflow-hidden z-1">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="single-head text-justify">
            <p
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out-cubic"
            >Welcome to the website located at www.thrivewellrx.com (the “Site”), owned and operated by Thrivewell, Inc. (“Thrivewell,” “Company,”
              “we,” “us,” or
              “our”). These Terms of Use (the “Terms”) govern your access to and use of the Site. Please read these Terms carefully, as they form a
              legally binding
              agreement between you and Thrivewell.</p>
            <p
              data-aos="fade-up"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >By accessing or using the Site, you agree to comply with these Terms. If you do not agree with any part of these Terms, you must not use
              the Site.</p>

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >1. Accounts</h5>
              <div>
                <ul
                  class="ms-30 mt-20"
                  data-aos="fade-up"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                >
                  <li>
                    <h6 class="fs-24 fw-medium">1.1 Account Creation.</h6>
                    <p>To access certain features of the Site, you may be required to create an account ("Account") and provide accurate and
                      complete
                      registration
                      information. You are responsible for maintaining the accuracy of your account information and for any activities that occur
                      under your Account.
                      Thrivewell reserves the right to suspend or terminate your Account in accordance with Section 7.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">1.2 Account Responsibilities.</h6>
                    <p>You are responsible for safeguarding your account login details. Any unauthorized use of your Account should be reported to
                      Thrivewell immediately. We
                      are not liable for any loss or damage arising from your failure to protect your account credentials.</p>
                  </li>
                </ul>
              </div>
            </div>
            <!--T&C item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >2. Access to the Site</h5>
              <div>
                <ul
                  class="ms-30 mt-20"
                  data-aos="fade-up"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                >
                  <li>
                    <h6 class="fs-24 fw-medium">2.1 License.</h6>
                    <p>Thrivewell grants you a limited, non-exclusive, non-transferable, and revocable license to access and use the Site for your
                      personal, non-commercial
                      use, subject to these Terms.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">2.2 Restrictions.</h6>
                    <p>The rights granted to you are subject to the following restrictions: (a) You may not sell, license, rent, or commercially
                      exploit the Site or its
                      content; (b) You may not modify, reverse engineer, or create derivative works from any part of the Site; (c) You may not use the
                      Site to develop a
                      similar or competitive service; (d) No part of the Site may be copied or distributed without our explicit permission. Any
                      updates or additions to the
                      Site are subject to these Terms.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">2.3 Modification of the Site.</h6>
                    <p>Thrivewell reserves the right to modify, suspend, or discontinue the Site or any part of it at any time without prior notice.
                      Thrivewell is not liable
                      for any modifications or discontinuation of the Site.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">2.4 No Support or Maintenance.</h6>
                    <p>Thrivewell is not obligated to provide any support or maintenance for the Site.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">2.5 Ownership.</h6>
                    <p>All intellectual property rights in the Site and its content belong to Thrivewell or its licensors. Your access to the Site
                      does not transfer any
                      ownership or rights to you, except for the limited access rights granted in Section 2.1.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">2.6 Feedback.</h6>
                    <p>Any feedback you provide to Thrivewell regarding the Site is non-confidential and non-proprietary. Thrivewell is free to use
                      such feedback without any
                      obligation to you.</p>
                  </li>
                </ul>
              </div>
            </div>
            <!--T&C item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >3. Indemnification</h5>
              <div
                data-aos="fade-up"
                data-aos-duration="1300"
                data-aos-easing="ease-in-out-cubic"
              >
                <p>You agree to indemnify and hold Thrivewell harmless from any claims, damages, or expenses arising from your use of the Site, your
                  violation of these
                  Terms, or your infringement of any third-party rights.</p>
              </div>
            </div>
            <!--T&C item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >4. Third-Party Links & Ads; Other Users</h5>
              <div>
                <ul
                  class="ms-30 mt-20"
                  data-aos="fade-up"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                >
                  <li>
                    <h6 class="fs-24 fw-medium">4.1 Third-Party Links & Ads</h6>
                    <p>The Site may contain links to third-party websites or advertisements. Thrivewell does not endorse or control these third-party
                      resources, and you
                      access them at your own risk.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">4.2 Interactions with Other Users.</h6>
                    <p>Thrivewell is not responsible for interactions between users of the Site. Any disputes between you and other users must be
                      resolved independently of
                      Thrivewell.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">4.3 Release.</h6>
                    <p>You release Thrivewell from any claims or liabilities arising from your use of the Site, including interactions with other
                      users or third-party links.</p>
                  </li>
                </ul>
              </div>
            </div>
            <!--T&C item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >5. Disclaimers</h5>
              <div
                data-aos="fade-up"
                data-aos-duration="1300"
                data-aos-easing="ease-in-out-cubic"
              >
                <p>The Site is provided "as is" and "as available," without warranties of any kind. Thrivewell disclaims all implied warranties,
                  including those of
                  merchantability, fitness for a particular purpose, and non-infringement.</p>
              </div>
            </div>
            <!--T&C item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >6. Limitation of Liability</h5>
              <div
                data-aos="fade-up"
                data-aos-duration="1300"
                data-aos-easing="ease-in-out-cubic"
              >
                <p>To the fullest extent permitted by law, Thrivewell is not liable for any indirect, incidental, or consequential damages arising
                  from your use of the
                  Site. Our total liability to you for any claims is limited to $50.</p>
              </div>
            </div>
            <!--T&C item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >7. Termination</h5>
              <div
                data-aos="fade-up"
                data-aos-duration="1300"
                data-aos-easing="ease-in-out-cubic"
              >
                <p>Thrivewell may suspend or terminate your access to the Site at any time, for any reason, without liability. Upon termination, your
                  rights under these
                  Terms will cease.
                </p>
              </div>
            </div>
            <!--T&C item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >8. General</h5>
              <div>
                <ul
                  class="ms-30 mt-20"
                  data-aos="fade-up"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                >
                  <li>
                    <h6 class="fs-24 fw-medium">8.1 Changes to Terms.</h6>
                    <p>Thrivewell may update these Terms from time to time. We will notify you of substantial changes, but it is your responsibility
                      to review the Terms
                      regularly. Continued use of the Site after changes indicates your acceptance of the revised Terms.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">8.2 Dispute Resolution</h6>
                    <p>Please carefully review this arbitration agreement (“Arbitration Agreement”) as it mandates arbitration for disputes with
                      Thrivewell, its parent
                      companies, subsidiaries, affiliates, successors, assigns, and their respective officers, directors, employees, agents, and
                      representatives
                      (collectively, the “Thrivewell Parties”). It also limits the ways in which you can seek remedies from Thrivewell Parties.</p>

                    <ul class="ms-30">
                      <li>
                        <p><span class="fw-semibold">(a) Applicability of Arbitration Agreement:</span>You agree that any dispute between you and any
                          of the Thrivewell Parties related to the use of the Thrivewell website, the services provided on the
                          site (the “Services”), or these Terms, will be resolved through binding arbitration, not in court. However, (1) you and the
                          Thrivewell Parties may
                          assert individual claims in small claims court if the claims qualify and remain solely on an individual basis; and (2)
                          either you or the Thrivewell
                          Parties may seek equitable relief in court for intellectual property rights infringement or misuse (such as trademarks,
                          trade dress, domain names,
                          trade secrets, copyrights, and patents). This Arbitration Agreement remains effective even after these Terms have expired or
                          been terminated, applying
                          to all claims arising before or after your acceptance of these Terms or any prior version. It does not preclude you from
                          bringing issues to the
                          attention of federal, state, or local agencies, who may seek relief against the Thrivewell Parties on your behalf if
                          permitted by law.
                        </p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(b) Informal Dispute Resolution:</span> If a dispute arises between you and Thrivewell, we are
                          committed to resolving it reasonably. Both you and Thrivewell
                          agree that good faith efforts to resolve disputes informally can lead to a quick, low-cost, and mutually beneficial
                          resolution. Before initiating
                          arbitration (or a small claims court action), both parties agree to personally meet and confer via telephone or video
                          conference in a good faith
                          attempt to resolve the dispute (“Informal Dispute Resolution Conference”). If you are represented by an attorney, they may
                          participate, but you must
                          also be present.
                        </p>
                        <p>To initiate an Informal Dispute Resolution Conference, the party raising the dispute must send written notice of their
                          intent (“Notice”) to the other
                          party. This Notice should be sent to Thrivewell via email at [info&#64;thrivewellrx.com]. The Notice must include: (1) your
                          name, telephone number,
                          mailing address, and email associated with your account; (2) if represented by an attorney, their name, telephone number,
                          mailing address, and email;
                          and (3) a detailed description of your dispute.</p>
                        <p>The Informal Dispute Resolution Conference must occur within 45 days of receiving the Notice, unless both parties agree to
                          an extension. During this
                          time, nothing in this Agreement prevents the parties from engaging in informal communications to resolve the dispute.
                          Participating in the Informal
                          Dispute Resolution Conference is a prerequisite to starting arbitration. Any applicable statute of limitations and filing
                          fee deadlines will be paused
                          while the parties participate in this process.</p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(c) Arbitration Rules and Forum:</span> These Terms involve interstate commerce; hence, the
                          Federal Arbitration Act, 9 U.S.C. § 1 et seq., will govern the
                          interpretation and enforcement of this Arbitration Agreement. If the Informal Dispute Resolution Process does not
                          satisfactorily resolve the issue
                          within 60 days, either party may elect to resolve the dispute through binding arbitration. The arbitration will be conducted
                          by JAMS, following its
                          most current version of the Streamlined or Comprehensive Arbitration Rules and Procedures, depending on the amount in
                          controversy. The JAMS rules are
                          available at www.jamsadr.com or by calling 800-352-5267. If JAMS is unavailable, the parties will select an alternative
                          arbitral forum. Arbitration
                          will be held in the county where you reside unless otherwise agreed.
                        </p>
                        <p>All materials and documents exchanged during the arbitration will remain confidential and are only to be shared with
                          attorneys, accountants, or
                          business advisors who agree to keep the information confidential.</p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(d) Authority of Arbitrator: </span> The arbitrator has exclusive authority to resolve all
                          disputes
                          subject to arbitration, including issues related to the
                          interpretation, applicability, enforceability, or formation of this Arbitration Agreement. Exceptions include disputes
                          concerning the “Waiver of Class
                          or Other Non-Individualized Relief,” which must be decided by a court. The arbitrator can award damages or non-monetary
                          remedies as allowed by law,
                          and the arbitration decision is final and binding. Judgment on the arbitration award may be entered in any court with
                          jurisdiction.
                        </p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(e) Waiver of Jury Trial: </span> EXCEPT AS PROVIDED IN SECTION 8.2(A), BOTH YOU AND THRIVEWELL
                          PARTIES WAIVE ANY RIGHT TO A TRIAL BY JURY OR TO SUE IN COURT.
                          Disputes will be resolved exclusively through arbitration, except as specified in Section 8.2(a). The arbitrator can award
                          the same relief as a court,
                          but there is no judge or jury in arbitration, and court review of an arbitration award is very limited.
                        </p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(f) Waiver of Class or Other Non-Individualized Relief: </span> EXCEPT AS SPECIFIED IN SUBSECTION
                          8.2(H), BOTH YOU AND THRIVEWELL AGREE THAT CLAIMS CAN ONLY
                          BE BROUGHT ON AN INDIVIDUAL BASIS AND NOT ON A CLASS, REPRESENTATIVE, OR COLLECTIVE BASIS. You and Thrivewell waive the
                          right to have any dispute
                          brought, heard, or arbitrated as part of a class, collective, representative, or mass action. Claims cannot be arbitrated or
                          consolidated with those
                          of any other customer or user. If a court finds the limitations in this subsection unenforceable as to a particular claim,
                          that claim may be litigated
                          in a court in Texas, but all other disputes will be arbitrated or litigated in small claims court.
                        </p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(g) Attorneys’ Fees and Costs: </span> Each party will bear their own attorneys’ fees and costs
                          unless the arbitrator finds that the substance of the dispute
                          or the relief sought was frivolous or brought for an improper purpose. If a court action is needed to compel arbitration,
                          the prevailing party may
                          recover reasonable costs and attorneys’ fees. The prevailing party in any court action about whether either party has met
                          the conditions for
                          arbitration may also recover reasonable costs and attorneys’ fees.
                        </p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(h) Batch Arbitration: </span> To streamline the resolution process, if 100 or more similar
                          individual arbitration requests are filed against Thrivewell by or
                          with the same legal representation within 30 days, JAMS will administer them in batches of 100. Each batch will be resolved
                          through a single
                          consolidated arbitration with one set of filing and administrative fees per side. This process is to improve efficiency, not
                          to authorize class or
                          mass arbitration.
                        </p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(i) 30-Day Right to Opt-Out: </span> You may opt out of this Arbitration Agreement within 30 days
                          of first agreeing to it by sending notice to Thrivewell at
                          [info&#64;thrivewellrx.com]. The notice must include your name, address, and a clear statement that you wish to opt out. If
                          you
                          opt out, all other
                          provisions of these Terms will still apply.
                        </p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(j) Invalidity, Expiration: </span> Except for the “Waiver of Class
                          or Other Non-Individualized Relief” clause, if any part of this Arbitration Agreement is
                          found invalid or unenforceable, the remainder will still apply. Any dispute must be initiated within the applicable statute
                          of limitations, or it will
                          be barred. Statutes of limitations apply to arbitration as they would in a court. </p>
                      </li>
                      <li>
                        <p><span class="fw-semibold">(k) Modification: </span> Thrivewell may modify this Arbitration Agreement, but you can reject
                          the change by sending notice within 30 days of the
                          modification. Your continued use of the site after changes are posted constitutes your acceptance of the new terms unless
                          you validly opt out of the Arbitration Agreement. Thrivewell will honor any valid opt-out
                          from previous versions of these Terms.</p>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">8.3 Export</h6>
                    <p>The Thrivewell site may be subject to U.S. export control laws and may also be regulated by import or export laws in other
                      countries. You agree not to
                      export, reexport, or transfer any U.S. technical data or products derived from such data in violation of these laws.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">8.5 Electronic Communications </h6>
                    <p>Communications between you and Thrivewell are conducted electronically, whether through the site, email, or notices posted on
                      the site. You consent to
                      receive communications from Thrivewell electronically and agree that these electronic communications satisfy any legal
                      requirement for written
                      communications.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">8.6 Entire Terms </h6>
                    <p>These Terms represent the entire agreement between you and Thrivewell regarding the use of the site. The failure of Thrivewell
                      to enforce any
                      provision of these Terms does not constitute a waiver of that provision. Section titles are for convenience only and have no
                      legal effect. If any
                      provision is found invalid or unenforceable, the remaining provisions will remain in full force. Your relationship with
                      Thrivewell is that of an
                      independent contractor, not an agent or partner. You may not assign or transfer these Terms or your rights and obligations
                      without Thrivewell’s
                      written consent. Thrivewell may freely assign these Terms, and they are binding upon assignees.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">8.7 Copyright/Trademark Information</h6>
                    <p>Copyright &copy; 2024 Thrivewell, Inc. All rights reserved. All trademarks, logos, and service marks (“Marks”) displayed on the
                      site are the property of
                      Thrivewell or third parties. You are not permitted to use these Marks without Thrivewell’s prior written consent.</p>
                  </li>
                  <li>
                    <h6 class="fs-24 fw-medium">8.8 Contact Information</h6>
                    <p>The site is provided by Thrivewell. For inquiries, please contact us via email at [info@thrivewellrx.com] or by phone at (855) 271-1790.</p>
                  </li>
                </ul>
              </div>
            </div>
            <!--T&C item end-->

          </div>
          <!--Single Head End-->


        </div>
      </div>
    </div>

    <div class="t-and-c-frame d-md-block d-none">
      <div class="top-left-frame">
        <img
          src="images/terms-coditions/frame-top-left.svg"
          alt="Frame Top Left"
        >
      </div>
      <div class="bottom-left-frame">
        <img
          src="images/terms-coditions/frame-bottom-left.svg"
          alt="Frame Bottom Left"
        >
      </div>
      <div class="top-right-frame">
        <img
          src="images/terms-coditions/frame-top-right.svg"
          alt="Frame Top Right"
        >
      </div>
      <div class="bottom-right-frame">
        <img
          src="images/terms-coditions/frame-bottom-right.svg"
          alt="Frame Bottom Right"
        >
      </div>
    </div>
  </section>
</main>
<!--====|| Main Section End ||====-->


<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->