.other-page-banner {
  overflow: hidden;
  position: relative;
  margin-top: -150px;
  padding-top: 210px;
  padding-bottom: 80px;
  h5 {
    &.h5-special {
      letter-spacing: 0;
    }
  }
  &--bg {
    background: linear-gradient(130deg, #FDEFC1 15%, #C9EBD5 50%, #CEEBEA 100%);
  }
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  .other-page-banner {
    padding-top: 170px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .other-page-banner {
    padding-top: 100px;
    margin-top: unset;
    h5 {
      &.h5-special {
        font-size: 20px;
      }
    }
  }
  .book-now-frame {
    .bottom-left-frame,
    .bottom-right-frame {
      img {
        width: 80px;
      }
    }
  }
}
