.other-page-banner {
  overflow: hidden;
  position: relative;
  margin-top: -150px;
  padding-top: 160px;
  padding-bottom: 50px;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .other-page-banner {
    margin-top: unset;
    padding-top: 120px;
    padding-bottom: 50px;
  }
  .book-now-frame {
    .bottom-left-frame,
    .bottom-right-frame {
      img {
        width: 80px;
      }
    }
  }
}
