.other-page-banner {
  overflow: hidden;
  position: relative;
  margin-top: 0;
  padding-top: 120px;
  padding-bottom: 80px;

  .container {
    max-width: var(--tw-section-max-width);
  }

  h5 {
    &.h5-special {
      letter-spacing: 0;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  .other-page-banner {
    padding-top: 170px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .other-page-banner {
    padding-top: 88px;
    margin-top: 0;
    h5 {
      &.h5-special {
        font-size: 20px;
      }
    }
  }
  .book-now-frame {
    .bottom-left-frame,
    .bottom-right-frame {
      img {
        width: 80px;
      }
    }
  }
}
