.contact-form {
  border-radius: 12px;
  box-shadow: 0px 8px 26.1px 0px rgba(174, 174, 174, 0.3);
  .form-select {
    --bs-form-select-bg-img: url("../../../public/images/icon/down-arrow.svg");
    background-size: 20px 20px;
  }
}
