// Header styled
header {
  nav {
    a {
      img {
        &.site-logo {
          width: 74px;
          @media screen and (min-width: 0px) and (max-width: 768px) {
            width: 57px;
          }
        }
      }
    }
  }
}

.menu-div {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  position: absolute;
  overflow-x: hidden;
  top: -150%;
  left: 0;
  z-index: 10000;
  width: 100%;
  background-color: $body;
  transition: 1s;
  &.active {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .menu-item {
    ul {
      li {
        a {
          span {
            &.menu-text {
              display: flex;
              align-items: center;
              border-style: solid;
              border-width: 0 0 1px 0;
              color: $primary;
              border-image-source: linear-gradient(
                90deg,
                rgba(31, 98, 166, 0.09) 0%,
                rgba(12, 38, 64, 0.3) 48%,
                rgba(12, 38, 64, 0.09) 95.5%
              );
              border-image-slice: 1;
              i {
                &.icon-arrow-right {
                  display: inline-block;
                  visibility: hidden;
                  font-size: 20px;
                  line-height: 40px;
                  font-size: 0;
                  color: rgba(119, 119, 119, 0.4);
                  transition: 0.3s;
                }
              }
            }
          }
        }
        &:hover {
          a {
            span {
              &.menu-text {
                color: rgba(119, 119, 119, 0.4);
                border-image-source: linear-gradient(
                  90deg,
                  rgba(0, 76, 155, 0) 0%,
                  #004c9b 48.5%,
                  rgba(0, 76, 155, 0) 100%
                );
                i {
                  &.icon-arrow-right {
                    margin-right: 12px;
                    visibility: visible;
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .headline {
    margin-top: -40px;
    p {
      font-size: 124px;
    }
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .headline {
    margin-top: -40px !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 576px) {
  .headline {
    margin-top: 80px !important;
  }
}
