.infographic-card {
  background-color: $secondary-yellow-two;
  border-radius: 20px;
  padding: 24px;
  border: 1px solid #decc42;
  i {
    @extend .bg-primary,
      .fs-20,
      .text-white,
      .d-inline-block,
      .rounded-circle,
      .d-flex,
      .justify-content-center,
      .align-items-center;
    width: 56px;
    height: 56px;
  }
}

.info-card-img {
  img {
    position: relative;
    width: 467px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .info-card-img {
    img {
      width: 100%;
    }
  }
}
