<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====|| Solutions Banner Start ||====-->
<section class="other-page-banner bg-yellow position-relative z-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2
          class="fw-bold text-capitalize text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >Privacy Policy </h2>
        <p
          class="fs-lg-20 fs-md-18 fs-sm-16 fs-14 fw-medium mt-md-30 mt-10 mb-0 text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="1100"
          data-aos-easing="ease-in-out-cubic"
        > <span class="fw-bold">Last updated:</span> March 6th, 2024</p>
      </div>
    </div>
  </div>
  <other-banner-frame></other-banner-frame>
</section>
<!--====|| Solutions Banner End ||====-->

<!--====|| Main Section STart ||====-->
<main>
  <section class="section privacy-policy position-relative overflow-hidden z-1">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">

          <div class="single-head">
            <h5
              class="fw-normal text-dark text-md-start text-center"
              data-aos="fade-up"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >Heading</h5>
            <p
              class="mt-20"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-easing="ease-in-out-cubic"
            >Lorem ipsum dolor sit amet consectetur. Nulla magna et magna quis in vitae diam sed. Vulputate tristique vitae mattis ut
              libero nunc
              ut. Nec sapien
              velit at convallis sit quisque. Suspendisse venenatis maecenas sagittis rutrum lobortis risus. Curabitur a vel lacus eget habitant duis
              diam. Eget
              bibendum id tempor leo cursus arcu elementum. In aliquam velit quis fames ut ut urna amet pellentesque.</p>
            <p
              data-aos="fade-up"
              data-aos-duration="1300"
              data-aos-easing="ease-in-out-cubic"
            >Fringilla aenean habitant blandit ut nisi egestas. Quisque natoque mi massa purus lectus felis libero. Malesuada varius praesent
              sollicitudin lacus.
              Egestas risus odio eu mauris et et. Quis morbi in justo venenatis. Neque sollicitudin orci molestie ut magna neque non lacus
              ullamcorper. Purus
              eleifend sit iaculis quis suspendisse feugiat ornare ut. Non elementum tortor hac eu et eget mattis a in. Rutrum egestas amet
              pellentesque neque.</p>
            <p
              data-aos="fade-up"
              data-aos-duration="1400"
              data-aos-easing="ease-in-out-cubic"
            >Tristique maecenas accumsan interdum molestie hac donec pulvinar. Lectus dictum eu vulputate mauris ipsum laoreet. Phasellus
              pellentesque eleifend
              placerat rhoncus eget. Iaculis sit consectetur eget elit faucibus senectus. Varius sed posuere semper feugiat pulvinar et. Amet aenean
              nulla morbi leo
              malesuada enim. Urna sodales arcu pharetra neque placerat pretium lorem. Placerat nascetur quis pretium aliquet velit. Ultricies
              faucibus gravida in
              dui et. Id faucibus quam massa cum viverra aliquet. Sit commodo amet ut eu feugiat arcu neque interdum interdum. Massa feugiat et
              posuere viverra
              aliquet justo. Ac amet dictumst adipiscing cursus. Gravida lacinia id quam vulputate ultricies. Molestie cras morbi eleifend eget ut
              amet dictum.</p>

          </div>
          <!--Single Head End-->

          <div class="single-head mt-30">
            <h5
              class="fw-normal text-dark text-md-start text-center"
              data-aos="fade-up"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >Heading</h5>
            <p
              class="mt-20"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-easing="ease-in-out-cubic"
            >Lorem ipsum dolor sit amet consectetur. Nulla magna et magna quis in vitae diam sed. Vulputate tristique vitae mattis ut
              libero nunc
              ut. Nec sapien
              velit at convallis sit quisque. Suspendisse venenatis maecenas sagittis rutrum lobortis risus. Curabitur a vel lacus eget habitant duis
              diam. Eget
              bibendum id tempor leo cursus arcu elementum. In aliquam velit quis fames ut ut urna amet pellentesque.</p>
            <p
              data-aos="fade-up"
              data-aos-duration="1300"
              data-aos-easing="ease-in-out-cubic"
            >Fringilla aenean habitant blandit ut nisi egestas. Quisque natoque mi massa purus lectus felis libero. Malesuada varius praesent
              sollicitudin lacus.
              Egestas risus odio eu mauris et et. Quis morbi in justo venenatis. Neque sollicitudin orci molestie ut magna neque non lacus
              ullamcorper. Purus
              eleifend sit iaculis quis suspendisse feugiat ornare ut. Non elementum tortor hac eu et eget mattis a in. Rutrum egestas amet
              pellentesque neque.</p>
            <p
              data-aos="fade-up"
              data-aos-duration="1400"
              data-aos-easing="ease-in-out-cubic"
            >Tristique maecenas accumsan interdum molestie hac donec pulvinar. Lectus dictum eu vulputate mauris ipsum laoreet. Phasellus
              pellentesque eleifend
              placerat rhoncus eget. Iaculis sit consectetur eget elit faucibus senectus. Varius sed posuere semper feugiat pulvinar et. Amet aenean
              nulla morbi leo
              malesuada enim. Urna sodales arcu pharetra neque placerat pretium lorem. Placerat nascetur quis pretium aliquet velit. Ultricies
              faucibus gravida in
              dui et. Id faucibus quam massa cum viverra aliquet. Sit commodo amet ut eu feugiat arcu neque interdum interdum. Massa feugiat et
              posuere viverra
              aliquet justo. Ac amet dictumst adipiscing cursus. Gravida lacinia id quam vulputate ultricies. Molestie cras morbi eleifend eget ut
              amet dictum.</p>

          </div>
          <!--Single Head End-->

          <div class="single-head mt-30">
            <h5
              class="fw-normal text-dark text-md-start text-center"
              data-aos="fade-up"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >Heading</h5>
            <p
              class="mt-20"
              data-aos="fade-up"
              data-aos-duration="1200"
              data-aos-easing="ease-in-out-cubic"
            >Lorem ipsum dolor sit amet consectetur. Nulla magna et magna quis in vitae diam sed. Vulputate tristique vitae mattis ut
              libero nunc
              ut. Nec sapien
              velit at convallis sit quisque. Suspendisse venenatis maecenas sagittis rutrum lobortis risus. Curabitur a vel lacus eget habitant duis
              diam. Eget
              bibendum id tempor leo cursus arcu elementum. In aliquam velit quis fames ut ut urna amet pellentesque.</p>
            <p
              data-aos="fade-up"
              data-aos-duration="1300"
              data-aos-easing="ease-in-out-cubic"
            >Fringilla aenean habitant blandit ut nisi egestas. Quisque natoque mi massa purus lectus felis libero. Malesuada varius praesent
              sollicitudin lacus.
              Egestas risus odio eu mauris et et. Quis morbi in justo venenatis. Neque sollicitudin orci molestie ut magna neque non lacus
              ullamcorper. Purus
              eleifend sit iaculis quis suspendisse feugiat ornare ut. Non elementum tortor hac eu et eget mattis a in. Rutrum egestas amet
              pellentesque neque.</p>
            <p
              data-aos="fade-up"
              data-aos-duration="1400"
              data-aos-easing="ease-in-out-cubic"
            >Tristique maecenas accumsan interdum molestie hac donec pulvinar. Lectus dictum eu vulputate mauris ipsum laoreet. Phasellus
              pellentesque eleifend
              placerat rhoncus eget. Iaculis sit consectetur eget elit faucibus senectus. Varius sed posuere semper feugiat pulvinar et. Amet aenean
              nulla morbi leo
              malesuada enim. Urna sodales arcu pharetra neque placerat pretium lorem. Placerat nascetur quis pretium aliquet velit. Ultricies
              faucibus gravida in
              dui et. Id faucibus quam massa cum viverra aliquet. Sit commodo amet ut eu feugiat arcu neque interdum interdum. Massa feugiat et
              posuere viverra
              aliquet justo. Ac amet dictumst adipiscing cursus. Gravida lacinia id quam vulputate ultricies. Molestie cras morbi eleifend eget ut
              amet dictum.</p>

          </div>
          <!--Single Head End-->

        </div>
      </div>
    </div>
    <div class="privacy-policy-frame d-md-block d-none">
      <div class="top-left-frame">
        <img
          src="images/terms-coditions/frame-top-left.svg"
          alt="Frame Top Left"
        >
      </div>
      <div class="bottom-left-frame">
        <img
          src="images/terms-coditions/frame-bottom-left.svg"
          alt="Frame Bottom Left"
        >
      </div>
      <div class="top-right-frame">
        <img
          src="images/terms-coditions/frame-top-right.svg"
          alt="Frame Top Right"
        >
      </div>
      <div class="bottom-right-frame">
        <img
          src="images/terms-coditions/frame-bottom-right.svg"
          alt="Frame Bottom Right"
        >
      </div>
    </div>
  </section>
</main>
<!--====|| Main Section End ||====-->


<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->