<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====|| Solutions Banner Start ||====-->
<section class="other-page-banner bg-yellow position-relative z-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2
          class="fw-bold text-capitalize text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >Privacy Policy </h2>
        <p
          class="fs-lg-20 fs-md-18 fs-sm-16 fs-14 fw-medium mt-md-30 mt-10 mb-0 text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="1100"
          data-aos-easing="ease-in-out-cubic"
        > <span class="fw-bold">Last updated:</span> September 6th, 2024</p>
      </div>
    </div>
  </div>
  <other-banner-frame></other-banner-frame>
</section>
<!--====|| Solutions Banner End ||====-->

<!--====|| Main Section STart ||====-->
<main>
  <section class="section privacy-policy position-relative overflow-hidden z-1">
    <div class="container">
      <div class="row">
        <div class="col-md-9 mx-auto">
          <div class="single-head text-justify">
            <h4
              class="text-capitalize text-dark  fw-semibold"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-easing="ease-in-out"
            >
              Your privacy is our top priority at Thrivewell.
            </h4>
            <p
              class="mt-20"
              data-aos="fade-up"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out-cubic"
            ><span class="fw-semibold">Thrivewell</span> (the “Company”) is dedicated to safeguarding the privacy of its users. This Privacy Policy
              (“Privacy Policy”) is intended to inform you
              about how we collect, use, and protect the information you share with us and to assist you in making informed decisions when using our
              services.</p>

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >1. Scope of the Policy</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >For the purposes of this Policy:</p>
              <ul
                class="ms-30 mt-20 d-flex flex-column  list-desc"
                data-aos="fade-up"
                data-aos-duration="1300"
                data-aos-easing="ease-in-out-cubic"
              >
                <li>
                  <p><span class="fw-semibold">“Site”</span> refers to Thrivewell’s website, accessible at <a routerLink="/">www.thrivewellrx.com</a>
                  </p>
                </li>
                <li>
                  <p> <span class="fw-semibold">“We,”</span> <span class="fw-semibold">“Us,”</span> and <span class="fw-semibold">“Our”</span> refer
                    to Thrivewell</p>
                </li>
                <li>
                  <p><span class="fw-semibold">“You”</span> refers to you, as a user of our Site or Service.</p>
                </li>
              </ul>
              <p
                class="mt-10"
                data-aos="fade-up"
                data-aos-duration="1400"
                data-aos-easing="ease-in-out-cubic"
              >
                By accessing or using our Site or Service, you agree to this Privacy Policy and our Terms of Use (available at
                <a routerLink="/terms-and-conditions">www.thrivewellrx.com/terms-and-conditions</a> ). You consent to our
                collection, storage, use, and disclosure of your
                Personal Information
                as described in
                this Privacy Policy.
              </p>

            </div>
            <!--PP item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >2. Information We Collect</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >We collect both “Non-Personal Information” and “Personal Information”:</p>
              <ul
                class="ms-30 mt-20 d-flex flex-column  list-desc"
                data-aos="fade-up"
                data-aos-duration="1300"
                data-aos-easing="ease-in-out-cubic"
              >
                <li>
                  <p><span class="fw-semibold">Non-Personal Information </span>includes data that cannot be used to personally identify you, such as
                    anonymous usage data, general demographic information,
                    referring/exit pages and URLs, platform types, preferences, and click statistics.
                  </p>
                </li>
                <li>
                  <p> <span class="fw-semibold">Personal Information</span> includes details such as your name, email address, phone number, company
                    name, job title, and area of interest, which you may
                    provide through our Site's registration process.</p>
                </li>
                <li>
                  <p><span class="fw-semibold">“You”</span> refers to you, as a user of our Site or Service.</p>
                </li>
              </ul>
            </div>

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >3. Information Collected via Technology</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >To access our Service, you may only need to provide your email address. However, as you use our Site, we may automatically collect
                information like
                your IP address, browser type, and the date and time of your visit. We use cookies, small text files stored on your device, to collect
                this data.
                Cookies help us improve your experience and analyze usage patterns. We may use both persistent cookies (which remain after you close
                your browser) and
                session cookies (which expire when you close your browser).</p>
            </div>
            <!--PP item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >4. Information You Provide</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >When registering for an account, you may need to create a profile by providing your email address and other personal details. By
                registering, you
                authorize us to use your email address in accordance with this Privacy Policy.</p>
            </div>
            <!--PP item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >5. Children's Privacy</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >Our Site and Service are not directed to anyone under the age of 13. We do not knowingly collect or solicit information from anyone
                under 13. If we
                discover that we have collected such information without parental consent, we will delete it promptly. If you believe we have
                collected information
                from a child under 13, please contact us at <a href="mailto:  info@thrivewellrx.com.">info&#64;thrivewellrx.com.</a></p>
            </div>
            <!--PP item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >6. How We Use and Share Information</h5>
              <ul
                class="ms-30 mt-20 d-flex flex-column  list-desc"
                data-aos="fade-up"
                data-aos-duration="1300"
                data-aos-easing="ease-in-out-cubic"
              >
                <li>
                  <p><span class="fw-semibold">Personal Information: </span> We do not sell, trade, or rent your Personal Information to third parties
                    without your consent. We may share it with vendors who
                    assist us in delivering our services (e.g., email providers). We may also share information if required by law or to protect our
                    users.
                  </p>
                </li>
                <li>
                  <p> <span class="fw-semibold">Non-Personal Information:</span> We use this data to improve our Service and user experience. We may
                    share Non-Personal Information with partners and
                    advertisers.</p>
                </li>
              </ul>

              <p
                class="mt-10"
                data-aos="fade-up"
                data-aos-duration="1400"
                data-aos-easing="ease-in-out-cubic"
              >
                In the event of a business transition (e.g., merger or sale), your Personal Information may be transferred as part of the assets.
                You acknowledge and
                consent to such transfers.
              </p>
            </div>
            <!--PP item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >7. Security Measures</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >We implement security measures such as encryption, firewalls, and SSL technology to protect your information. However, no method is
                entirely secure,
                and we cannot guarantee absolute security. By using our Service, you agree to assume these risks.</p>
            </div>
            <!--PP item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >8. Your Rights</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >You may opt-out of receiving marketing communications from us by following the unsubscribe instructions in our emails or updating your
                preferences on
                the Site. Note that you may still receive administrative emails even if you opt-out of marketing communications.</p>
            </div>
            <!--PP item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >9. Links to Other Websites</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >Our Site may contain links to third-party websites. We are not responsible for the privacy practices of these sites. We encourage you
                to review their
                privacy policies before using their services.</p>
            </div>
            <!--PP item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >10. Changes to Our Privacy Policy</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >Thrivewell reserves the right to modify this Privacy Policy at any time. Significant changes will be communicated via email or by a
                prominent notice
                on our Site and will take effect 30 days after notification. Non-material changes will take effect immediately. Please check the Site
                periodically for
                updates.</p>
            </div>
            <!--PP item end-->

            <div class="mt-30">
              <h5
                class="fw-semibold text-dark text-md-start text-center"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >11. Contact Us</h5>
              <p
                data-aos="fade-up"
                data-aos-duration="1200"
                data-aos-easing="ease-in-out-cubic"
              >If you have any questions about this Privacy Policy, please contact us via email at <a
                  href="mailto: info@thrivewellrx.com">info&#64;thrivewellrx.com</a> or by phone at <a href="tel: +14693336867">1 (469) 333 6867</a>
              </p>
            </div>
            <!--PP item end-->

          </div>
          <!--Single Head End-->


        </div>
      </div>
    </div>
    <div class="privacy-policy-frame d-md-block d-none">
      <div class="top-left-frame">
        <img
          src="images/terms-coditions/frame-top-left.svg"
          alt="Frame Top Left"
        >
      </div>
      <div class="bottom-left-frame">
        <img
          src="images/terms-coditions/frame-bottom-left.svg"
          alt="Frame Bottom Left"
        >
      </div>
      <div class="top-right-frame">
        <img
          src="images/terms-coditions/frame-top-right.svg"
          alt="Frame Top Right"
        >
      </div>
      <div class="bottom-right-frame">
        <img
          src="images/terms-coditions/frame-bottom-right.svg"
          alt="Frame Bottom Right"
        >
      </div>
    </div>
  </section>
</main>
<!--====|| Main Section End ||====-->


<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->