<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====|| Book Now Banner Start ||====-->
<section class="other-page-banner bg-yellow position-relative pb-80">
  <div class="container">
    <div class="row mt-20">
      <div class="col-md-7 pe-150">
        <div>
          <img
            src="images/legit-script/legit-script.svg"
            alt="Legit Script"
            data-aos="fade-up-right"
            data-aos-duration="700"
            data-aos-easing="ease-in-out-cubic"
          />
        </div>
        <h6
          class="ff-urbanist fs-28 fw-medium text-primary text-uppercase mt-40"
          data-aos="fade-up-right"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >
          LEGITSCRIPT CERTIFICATION
        </h6>
        <h2
          class="fw-bold mt-10"
          data-aos="fade-up"
          data-aos-duration="1100"
          data-aos-easing="ease-in-out-cubic"
        >
          Achieve LegitScript Certification with ThriveWell!
        </h2>
        <p
          class="mt-40"
          data-aos="fade-up"
          data-aos-duration="1300"
          data-aos-easing="ease-in-out-cubic"
        >
          ThriveWell specializes in providing comprehensive consulting services
          for healthcare businesses seeking LegitScript certification. This
          certification serves as a recognized seal of approval, demonstrating
          compliance with high standards of care and credibility. By guiding you
          through the process, ThriveWell ensures that your online operations
          meet these rigorous requirements.
        </p>
      </div>
      <div class="col-md-5">
        <div
          class="section-img"
          style="background-color: #eac71b"
          data-aos="zoom-in"
          data-aos-duration="1000"
          data-aos-easing="ease-in-out-cubic"
        >
          <img
            src="images/legit-script/achieve-legitscript.webp"
            alt="Legit Script"
            class="w-100"
          />
        </div>
      </div>
    </div>
  </div>

  <other-banner-frame></other-banner-frame>
</section>
<!--====|| Book Now Banner End ||====-->

<!--====|| Main Section Start ||====-->
<main>
  <!--====| Certification Section Start |====-->
  <section class="certification-section section overflow-hidden">
    <div class="container">
      <div class="pb-50">
        <h2
          class="text-center pe-120"
          data-aos="fade-up"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >
          LegitScript Certification <br />
          Made Easy With ThriveWell
        </h2>
      </div>
      <div class="row mt-80">
        <div class="col-md-4 d-flex">
          <div
            class="infographic-card flex-grow-1 py-50"
            data-aos="fade-up-left"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out-cubic"
          >
            <div>
              <i class="icon-message"></i>
            </div>
            <div>
              <p class="mt-40 fw-bold">1. Advisory Services:</p>
              <p>
                Our team of experts provides personalized guidance throughout
                the LegitScript application process, ensuring accuracy and
                efficiency.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex">
          <div
            class="infographic-card flex-grow-1 py-50"
            data-aos="fade-up-left"
            data-aos-duration="1100"
            data-aos-easing="ease-in-out-cubic"
          >
            <div>
              <i class="icon-hand-shake"></i>
            </div>
            <div>
              <p class="mt-40 fw-bold">2. Strong Partnership:</p>
              <p>
                Thrive Well’s direct relationship with LegitScript allows us to
                expedite application processing times significantly.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex">
          <div
            class="info-card-img flex-grow-1 py-50"
            data-aos="zoom-in-up"
            data-aos-duration="1100"
            data-aos-easing="ease-in-out-cubic"
          >
            <img
              src="images/legit-script/certification.png"
              alt="Certification"
            />
          </div>
        </div>
        <div class="col-md-4 d-flex mt-20">
          <div
            class="infographic-card flex-grow-1 py-50"
            data-aos="fade-up-left"
            data-aos-duration="900"
            data-aos-easing="ease-in-out-cubic"
          >
            <div>
              <i class="icon-directions"></i>
            </div>
            <div>
              <p class="mt-40 fw-bold">3. Professional Guidance:</p>
              <p>
                Our seasoned professionals stay current with regulatory changes,
                ensuring smooth navigation through the certification process.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex mt-20">
          <div
            class="infographic-card flex-grow-1 py-50"
            data-aos="fade-up-left"
            data-aos-duration="1100"
            data-aos-easing="ease-in-out-cubic"
          >
            <div>
              <i class="icon-order-approved"></i>
            </div>
            <div>
              <p class="mt-40 fw-bold">4. Effortless Compliance:</p>
              <p>
                Achieving LegitScript certification enhances your online
                credibility and broadens your customer base. We ensure strict
                compliance.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex mt-20">
          <div
            class="infographic-card flex-grow-1 py-50"
            data-aos="fade-up-left"
            data-aos-duration="1300"
            data-aos-easing="ease-in-out-cubic"
          >
            <div>
              <i class="icon-customer-support"></i>
            </div>
            <div>
              <p class="mt-40 fw-bold">5. Continuous Support:</p>
              <p>
                Beyond certification, we offer continuous support, from
                compliance monitoring to e-commerce strategy development,
                ensuring your business thrives..
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="certification-frame">
      <div class="left-frame">
        <img
          src="images/legit-script/frame/top-left.svg"
          alt="certification top left"
        />
      </div>
      <div class="right-frame">
        <img
          src="images/legit-script/frame/top-right.svg"
          alt="certification top right"
        />
      </div>
    </div>
  </section>
  <!--====| Certification Section End |====-->

  <!--====| Client Section Start |====-->
  <section class="client-section bg-secondary-light overflow-hidden">
    <div class="swiper client-slider">
      <div class="swiper-wrapper">
        <div
          class="swiper-slide"
          data-aos="fade-up-left"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >
          <div class="client-card d-flex flex-column w-100">
            <p>
              “We highly recommend Thrive Well for LegitScript services and
              partnership. Their commitment to accuracy and efficiency saved us
              time and made them the best choice for our certification needs.”
            </p>
            <div class="mt-auto">
              <p class="fw-bold">Reilly</p>
              <p>President & Co-Founder,</p>
              <p>Telehealth Brand</p>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
          data-aos="fade-up-left"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >
          <div class="client-card d-flex flex-column">
            <p>
              “We highly recommend Thrive Well for LegitScript services and
              partnership. Their commitment to accuracy and efficiency saved us
              time and made them the best choice for our certification needs.”
            </p>
            <div class="mt-auto">
              <p class="fw-bold">Reilly</p>
              <p>President & Co-Founder,</p>
              <p>Telehealth Brand</p>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
          data-aos="fade-up-left"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >
          <div class="client-card d-flex flex-column">
            <p>
              “We highly recommend Thrive Well for LegitScript services and
              partnership. Their commitment to accuracy and efficiency saved us
              time and made them the best choice for our certification needs.”
            </p>
            <div class="mt-auto">
              <p class="fw-bold">Reilly</p>
              <p>President & Co-Founder,</p>
              <p>Telehealth Brand</p>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
          data-aos="fade-up-left"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >
          <div class="client-card d-flex flex-column">
            <p>
              “We highly recommend Thrive Well for LegitScript services and
              partnership. Their commitment to accuracy and efficiency saved us
              time and made them the best choice for our certification needs.”
            </p>
            <div class="mt-auto">
              <p class="fw-bold">Reilly</p>
              <p>President & Co-Founder,</p>
              <p>Telehealth Brand</p>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
          data-aos="fade-up-left"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >
          <div class="client-card d-flex flex-column">
            <p>
              “We highly recommend Thrive Well for LegitScript services and
              partnership. Their commitment to accuracy and efficiency saved us
              time and made them the best choice for our certification needs.”
            </p>
            <div class="mt-auto">
              <p class="fw-bold">Reilly</p>
              <p>President & Co-Founder,</p>
              <p>Telehealth Brand</p>
            </div>
          </div>
        </div>
        <div
          class="swiper-slide"
          data-aos="fade-up-left"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >
          <div class="client-card d-flex flex-column">
            <p>
              “We highly recommend Thrive Well for LegitScript services and
              partnership. Their commitment to accuracy and efficiency saved us
              time and made them the best choice for our certification needs.”
            </p>
            <div class="mt-auto">
              <p class="fw-bold">Reilly</p>
              <p>President & Co-Founder,</p>
              <p>Telehealth Brand</p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </section>
  <!--====| Client Section End |====-->

  <!--====| Contact Us Section Start |====-->
  <section class="legitscript-contact section position-relative overflow-hidden">
    <div class="container">
      <h4
        class="text-center"
        data-aos="fade-up"
        data-aos-duration="900"
        data-aos-easing="ease-in-out-cubic"
      >
        Ensure compliance doesn't impede your healthcare <br />
        business's growth.
      </h4>
      <div class="row mt-70">
        <div
          class="col-md-7 mx-auto"
          data-aos="fade-up"
          data-aos-duration="1200"
          data-aos-easing="ease-in-out-cubic"
        >
          <legitscript-contact></legitscript-contact>
          <div class="text-center px-md-70 px-0 mt-md-100 mt-50">
            <p
              class="fs-20"
              data-aos="fade-up"
              data-aos-duration="1400"
              data-aos-easing="ease-in-out-cubic"
            >
              Partner with Thrive Well for expert LegitScript certification and
              superior marketing solutions.
            </p>
            <p
              class="fs-20"
              data-aos="fade-up"
              data-aos-duration="1500"
              data-aos-easing="ease-in-out-cubic"
            >
              Begin your journey to creating a trustworthy online presence that
              resonates with your customers. 
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="legit-contact-frame">
      <div class="frame-left position-absolute bottom-0 start-0">
        <img
          src="images/legit-script/frame/contact-left.svg"
          alt="Contact Left"
        />
      </div>
      <div class="frame-right position-absolute">
        <img
          src="images/legit-script/frame/contact-right.svg"
          alt="Contact right"
        />
      </div>
      <div class="frame-center position-absolute">
        <img
          src="images/legit-script/frame/contact-center.svg"
          alt="Contact center"
        />
      </div>
    </div>
  </section>
  <!--====| Contact Us Section End |====-->

  <!--====| CTA Section Section |====-->
  <cta></cta>
  <!--====| CTA Section End |====-->
</main>
<!--====|| Main Section End ||====-->

<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->