<div class="contact-form p-md-30 p-14 bg-white">
  <form
    [formGroup]="bookingForm"
    #formRef="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="row  gx-lg-4 gx-3 gy-lg-3 gy-1">
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="firstName"
            class="form-label fw-semibold"
          >First Name <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="first_name"
          >
          <span
            *ngIf="f['first_name'].errors && (formRef.submitted || f['first_name'].touched)"
            class="fs-14 fw-medium text-danger mt-1"
          >First name is required</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="lastName"
            class="form-label fw-semibold"
          >Last Name <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="last_name"
          >
          <span
            *ngIf="f['last_name'].errors && (formRef.submitted || f['last_name'].touched)"
            class="fs-14 fw-medium text-danger mt-1"
          >Last name is required</span>
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="email"
            class="form-label fw-semibold"
          >Email <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          >
          <div *ngIf="f['email'].errors && (formRef.submitted || f['email'].touched)">
            <p
              *ngIf="f['email'].errors['required']"
              class="fs-14 fw-medium text-danger mt-1"
            >Email name is required</p>
            <p
              *ngIf="f['email'].errors['email']"
              class="fs-14 fw-medium text-danger mt-1"
            >Invalid Email</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="phoneNumber"
            class="form-label fw-semibold"
          >Phone Number <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            formControlName="phone_number"
          >
          <div *ngIf="f['phone_number'].errors && (formRef.submitted || f['phone_number'].touched)">
            <p
              *ngIf="f['phone_number'].errors['required']"
              class="fs-14 fw-medium text-danger mt-1"
            >Phone number is required</p>
            <p
              *ngIf="f['phone_number'].errors['minlength']"
              class="fs-14 fw-medium text-danger mt-1"
            > Phone Number should be at least 10</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="company"
            class="form-label fw-semibold"
          >Company</label>
          <input
            type="text"
            class="form-control"
            id="company"
            formControlName="company"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="product"
            class="form-label fw-semibold"
          >What Type of Product</label>
          <input
            type="text"
            class="form-control"
            id="product"
            formControlName="product"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="city"
            class="form-label fw-semibold"
          >City</label>
          <input
            type="text"
            class="form-control"
            id="city"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="state"
            class="form-label fw-semibold"
          >Which State</label>
          <select
            class="form-select"
            aria-label="Default select example"
            formControlName="state_id"
          >
            <option selected>Select State</option>
            <option
              *ngFor="let state of states"
              [value]="state.id"
            >{{state.name}}</option>

          </select>
        </div>
      </div>

      <div class="col-md-12">
        <div class="signle-input mb-3">
          <label
            for="notes"
            class="form-label fw-semibold d-block"
          >Notes</label>
          <textarea
            name="notes"
            id="notes"
            rows="3"
            formControlName="notes"
          ></textarea>
          <span
            *ngIf="f['notes'].errors && (formRef.submitted || f['notes'].touched)"
            class="fs-14 fw-medium text-danger mt-1"
          >Notes is required</span>
        </div>
      </div>
      <div class="col-12 text-md-start text-center">
        <button
          type="submit"
          class="btn-cta mt-10 d-inline-block"
          style="max-width: 118px;"
        >Submit</button>
      </div>
    </div>
  </form>
</div>