<div class="contact-form p-30 bg-white">
  <form action="">
    <div class="row  gx-lg-4 gx-3 gy-lg-3 gy-1">
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="firstName"
            class="form-label fw-semibold"
          >First Name <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="firstName"
          >
        </div>
      </div>
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="lastName"
            class="form-label fw-semibold"
          >Last Name <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="lastName"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="email"
            class="form-label fw-semibold"
          >Email <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="email"
            class="form-control"
            id="email"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="phoneNumber"
            class="form-label fw-semibold"
          >Phone Number <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="company"
            class="form-label fw-semibold"
          >Company</label>
          <input
            type="text"
            class="form-control"
            id="company"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="product"
            class="form-label fw-semibold"
          >What Type of Product</label>
          <input
            type="text"
            class="form-control"
            id="product"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="city"
            class="form-label fw-semibold"
          >City</label>
          <input
            type="text"
            class="form-control"
            id="city"
          >
        </div>
      </div>

      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="state"
            class="form-label fw-semibold"
          >Which State</label>
          <select
            class="form-select"
            aria-label="Default select example"
          >
            <option selected>Select State</option>
            <option
              value="1"
              *ngFor="let state of states"
            >{{state.name}}</option>

          </select>
        </div>
      </div>

      <div class="col-md-12">
        <div class="signle-input mb-3">
          <label
            for="notes"
            class="form-label fw-semibold d-block"
          >Notes</label>
          <textarea
            name="notes"
            id="notes"
            rows="3"
          ></textarea>
        </div>
      </div>
      <div class="col-12">
        <a
          href="#"
          class="btn-cta mt-10 d-inline-block"
          style="max-width: 118px;"
        >Submit</a>
      </div>
    </div>
  </form>
</div>