<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====|| Book Now Banner Start ||====-->
<section class="other-page-banner bg-yellow position-relative z-1 overflow-hidden">
  <div class="container">
    <div class="row">
      <div>
        <h2
          class="fw-bold text-capitalize"
          data-aos="fade-up"
          data-aos-duration="700"
          data-aos-easing="ease-in-out-cubic"
        >
          Empower your DTC brand with <br />
          an all-inclusive toolbox.
        </h2>
        <p
          data-aos="fade-up"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
          class="mb-0"
        >Our platform is designed to scale with you</p>
      </div>
    </div>
  </div>
  <other-banner-frame></other-banner-frame>
</section>
<!--====|| Book Now Banner End ||====-->

<!--====|| Main Section Start ||====-->
<main>
  <!--====| Simplify Section Start |====-->
  <section class="simplify-section section position-relative z-1 overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pe-md-50 pe-auto">
          <h4
            data-aos="zoom-in-up"
            data-aos-duration="700"
            data-aos-easing="ease-in-out-cubic"
          >Simplify Your E-Commerce Experience</h4>
          <p
            class="fw-medium mt-20"
            data-aos="fade-up"
            data-aos-duration="900"
            data-aos-easing="ease-in-out-cubic"
          >
            Create a frictionless patient experience with our ecommerce
            solutions for telehealth.
          </p>
          <p
            class="fw-medium"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out-cubic"
          >We offer:</p>
          <ul class="d-flex flex-column gap-30">
            <li
              class="fw-medium d-flex"
              data-aos="fade-right"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Professional Branding:</strong>
                Build trust with a personalized domain name for your telehealth
                platform.</span>
            </li>
            <li
              class="fw-medium d-flex"
              data-aos="fade-right"
              data-aos-duration="1200"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Easy Onboarding:</strong>
                Streamline patient intake with customizable forms that gather
                essential information quickly.</span>
            </li>
            <li
              class="fw-medium d-flex"
              data-aos="fade-right"
              data-aos-duration="1300"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Quick Doctor Visit:</strong> We get
                your patients connected with a licensed provider within hours
                and days, not weeks.</span>
            </li>
            <li
              class="fw-medium d-flex"
              data-aos="fade-right"
              data-aos-duration="1400"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Seamless Payments:</strong> Accept
                payments directly within your telehealth platform for a smooth
                experience.
              </span>
            </li>
            <li
              class="fw-medium d-flex"
              data-aos="fade-right"
              data-aos-duration="1500"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Flexible Promotions: </strong>
                Attract new patients and boost engagement with targeted
                discounts using dynamic discount codes.</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div
            class="section-img bg-primary"
            data-aos="zoom-in-up"
            data-aos-duration="1400"
            data-aos-easing="ease-in-out-cubic"
          >
            <div class="img-wrapper">
              <img
                src="images/home/ecommerce-exp.webp"
                alt="E-Commerce Experience"
                class="w-100"
              />
            </div>
          </div>

          <ul class="d-flex flex-column gap-30 mt-35">
            <li
              class="fw-medium d-flex"
              data-aos="fade-left"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Secure Transactions:</strong>
                Ensure patient safety and peace of mind with secure payment
                processing.</span>
            </li>
            <li
              class="fw-medium d-flex"
              data-aos="fade-left"
              data-aos-duration="1200"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Fast Verification:</strong>
                Automate ID verification to save time and ensure security.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="simplify-frame">
      <div class="left-frame">
        <img
          src="images/learn-more/simplify/left-frame.svg"
          alt="Left Frame"
        />
      </div>
      <div class="right-frame">
        <img
          src="images/learn-more/simplify/left-frame.svg"
          alt="Left Frame"
        />
      </div>
    </div>
  </section>
  <!--====| Simplify Section End |====-->

  <!--====|| How to connect Section Start ||====-->
  <contact-section></contact-section>
  <!--====|| How to connect Section End ||====-->
</main>
<!--====|| Main Section End ||====-->

<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->