<section class="ht-connect-section section  bg-secondary-light position-relative z-1 overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 pe-md-100 pe-auto">
        <div>
          <h4>How To Connect:</h4>
          <ol class="mt-30">
            <li class="fw-medium">Request a personalized demo and walkthrough led by a dedicated member of our sales team. </li>
            <li class="fw-medium">Reach out to our sales team for any inquiries you may have</li>
          </ol>
        </div>
        <p class="ff-noto-serif fs-24 fw-medium">Let’s transform healthcare together. <br> Contact us today!</p>
        <ul>
          <li class="fw-medium ff-noto-serif">Phone: (855) 271-1790</li>
          <li class="fw-medium ff-noto-serif mt-7">Email: sales&#64;thrivewell.com</li>
        </ul>
        <p class="fw-medium ff-noto-serif mt-20 mb-0">Join us on the journey to revolutionize healthcare. <br> Connect with Thrivewell now!</p>
      </div>

      <div class="col-md-7">
        <div class="position-relative">
          <contact-form></contact-form>
        </div>
      </div>

    </div>
  </div>
  <div class="contact-frame">
    <div class="top-right-frame position-absolute z-n1 top-0 end-0">
      <img
        src="images/learn-more/contact-top-right.svg"
        alt="Top Right Frame"
      >
    </div>
    <div class="bottom-left-frame ">
      <img
        src="images/learn-more/contact-bottom-left.svg"
        alt="Top Left Frame"
      >
    </div>
  </div>
</section>