<section
  class="ht-connect-section section bg-secondary-light position-relative z-1 overflow-hidden"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 pe-xl-40 pe-auto">
        <div class="pe-xl-50">
          <h4
            class="text-md-start text-center"
            data-aos="zoom-in-up"
            data-aos-duration="700"
            data-aos-easing="ease-in-out-cubic"
          >
            How To Connect:
          </h4>
          <ol class="mt-30">
            <li
              class="fw-medium"
              data-aos="fade-right"
              data-aos-duration="900"
              data-aos-easing="ease-in-out-cubic"
            >
              Request a personalized demo and walkthrough led by a dedicated
              member of our sales team. 
            </li>
            <li
              class="fw-medium"
              data-aos="fade-right"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >
              Reach out to our sales team for any inquiries you may have
            </li>
          </ol>
        </div>

        <div class="d-lg-block d-none">
          <p
            class="ff-noto-serif fs-24 fw-medium mt-lg-70 mt-20"
            data-aos="fade-right"
            data-aos-duration="900"
            data-aos-easing="ease-in-out-cubic"
          >
            Let’s transform healthcare together. <br />
            Contact us today!
          </p>
          <ul>
            <li
              class="fw-medium ff-noto-serif"
              data-aos="fade-right"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out-cubic"
            >
              Phone:
              <a href="tel:+19728437272" class="text-dark">(972) 843-7272</a>
            </li>
            <li
              class="fw-medium ff-noto-serif mt-7"
              data-aos="fade-right"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >
              Email:<a href="mailto: info@thrivewellrx.com" class="text-dark"
                >info&#64;thrivewellrx.com</a
              >
            </li>
          </ul>
          <p
            class="fw-medium ff-noto-serif mt-20 mb-0"
            data-aos="fade-right"
            data-aos-duration="1200"
            data-aos-easing="ease-in-out-cubic"
          >
            Join us on the journey to revolutionize healthcare. <br />
            Connect with Thrivewell now!
          </p>
        </div>
      </div>

      <div class="col-lg-7 ps-xl-30 ps-auto">
        <div
          class="position-relative my-lg-0 my-20"
          data-aos="fade-up-left"
          data-aos-duration="1300"
          data-aos-easing="ease-in-out-cubic"
        >
          <contact-form></contact-form>
        </div>

        <div class="d-lg-none d-block">
          <p
            class="ff-noto-serif fs-md-24 fs-22 fw-medium mt-lg-70 mt-30 text-md-start text-center"
            data-aos="fade-right"
            data-aos-duration="900"
            data-aos-easing="ease-in-out-cubic"
          >
            Let’s transform healthcare together. <br />
            Contact us today!
          </p>
          <ul class="text-md-start text-center">
            <li
              class="fw-medium ff-noto-serif"
              data-aos="fade-right"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out-cubic"
            >
              Phone: <a href="tel:+19728437272">(972) 843-7272</a>
            </li>
            <li
              class="fw-medium ff-noto-serif mt-7"
              data-aos="fade-right"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >
              Email:
              <a href="mailto: info@thrivewellrx.com"
                >info&#64;thrivewellrx.com</a
              >
            </li>
          </ul>
          <p
            class="fw-medium ff-noto-serif mt-20 mb-0 text-md-start text-center"
            data-aos="fade-right"
            data-aos-duration="1200"
            data-aos-easing="ease-in-out-cubic"
          >
            Join us on the journey to revolutionize healthcare. <br />
            Connect with Thrivewell now!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-frame">
    <div class="top-right-frame position-absolute z-n1 top-0 end-0">
      <img
        src="images/learn-more/contact-top-right.svg"
        alt="Top Right Frame"
      />
    </div>
    <div class="bottom-left-frame">
      <img
        src="images/learn-more/contact-bottom-left.svg"
        alt="Top Left Frame"
      />
    </div>
  </div>
</section>
