.telehealth-platform-section {
  position: relative;
  z-index: 1;
  ul {
    margin-left: 25px;
    li {
      list-style: disc !important;
      &::marker {
        color: $primary;
      }
    }
  }

  .telehealth-frame {
    .bottom-left-frame {
      position: absolute;
      z-index: -1;
      bottom: -20px;
      left: -80px;
    }
    .bottom-right-frame {
      position: absolute;
      z-index: -1;
      top: 30%;
      right: -170px;
    }
  }
}

.healthcare-section {
  ul {
    margin-left: 25px;
    li {
      list-style: disc !important;
      &::marker {
        color: $primary;
      }
    }
  }
  .healthcare-frame {
    .top-right-frame {
      position: absolute;
      z-index: -1;
      top: -35px;
      right: -150px;
    }
    .bottom-right-frame {
      position: absolute;
      z-index: -1;
      bottom: -37px;
      right: -55px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  .telehealth-platform-section {
    .telehealth-frame {
      .bottom-left-frame {
        bottom: -10px;
        left: -30px;
        img {
          width: 120px;
        }
      }
      .bottom-right-frame {
        top: 20%;
        right: -70px;
        img {
          width: 200px;
        }
      }
    }
  }
  .it-section {
    .it-frame {
      .top-right-frame {
        img {
          width: 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .telehealth-platform-section {
    .telehealth-frame {
      display: none;
      h4 {
        font-size: 32px;
      }
    }
  }
  .it-section {
    .it-frame {
      display: none;
    }
    h4 {
      font-size: 32px;
    }
  }
  .healthcare-section {
    .healthcare-frame {
      display: none;
    }
    h4 {
      font-size: 32px;
    }
  }
}
