.ht-connect-section {
  z-index: 1;
  .contact-frame {
    .left-frame {
      position: absolute;
      z-index: -1;
      bottom: 40px;
      left: -70px;
    }
    .right-frame {
      position: absolute;
      z-index: -1;
      top: 120px;
      right: 0;
    }
    .bottom-left-frame {
      position: absolute;
      z-index: -1;
      left: -160px;
      bottom: 40px;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 992px) {
  .ht-connect-section {
    .contact-frame {
      .top-right-frame {
        img {
          width: 130px;
        }
      }
      .bottom-left-frame {
        left: -80px;
        bottom: 130px;
        img {
          width: 150px;
        }
      }
    }
  }
}
