// Home page styles
.home-banner {
  overflow: hidden;
  position: relative;
  margin-top: -150px;
  padding-top: 190px;
  padding-bottom: 30px;
  background-color: #ffdc32;

  .container {
    position: relative;
    z-index: 1;
  }

  .box {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    .wave {
      opacity: 0.4;
      border-radius: 43%;

      &.one {
        animation: rotate 30000ms infinite linear;
        opacity: 100%;
        background: #ffea86;
        position: absolute;
        z-index: 0;
        width: 600px;
        height: 530px;
        left: -150px;
        bottom: -250px;
      }

      &.two {
        animation: rotate 30000ms infinite linear;
        opacity: 100%;
        background: #ffea86;
        position: absolute;
        z-index: 0;
        width: 550px;
        height: 620px;
        right: -150px;
        bottom: -300px;
      }

      &.three {
        animation: rotate 32000ms infinite linear;
        opacity: 100%;
        background: #ffea86;
        position: absolute;
        z-index: 0;
        width: 530px;
        height: 580px;
        right: -100px;
        top: -300px;
      }

      &.four {
        animation: rotate 35000ms infinite linear;
        opacity: 100%;
        background: #ffea86;
        position: absolute;
        z-index: 0;
        width: 560px;
        height: 480px;
        left: -180px;
        top: -200px;
      }

      &.lineFour {
        animation: rotate 30000ms infinite linear;
        opacity: 100%;
        border: 1px solid #ada03d;
        position: absolute;
        z-index: 0;
        width: 430px;
        height: 380px;
        left: -150px;
        top: -100px;
      }

      &.lineThree {
        animation: rotate 30000ms infinite linear;
        opacity: 100%;
        border: 1px solid #ada03d;
        position: absolute;
        z-index: 0;
        width: 430px;
        height: 380px;
        right: -100px;
        top: -150px;
      }
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  /* Old Frame*/
  /*
  .frame-img {
    .top-left-frame {
      position: absolute;
      z-index: -1;
      top: -210px;
      left: -40px;
    }
    .top-right-frame {
      position: absolute;
      z-index: -1;
      top: -150px;
      right: -150px;
    }
    .bottom-left-frame {
      position: absolute;
      z-index: -1;
      bottom: -90px;
      left: -70px;
    }
    .bottom-right-frame {
      position: absolute;
      z-index: -1;
      bottom: -144px;
      right: -20px;
    }
  }
*/
}

/*==== Home Banner End ==== */

.counter-section {
  position: relative;
  overflow: hidden;

  .all-counter {
    .counter-width {
      p {
        &.counter-0 {
          span {
            &.value {
              width: 140px;
              display: inline-block;
            }
          }
        }

        &.counter-1 {
          span {
            &.value {
              width: 200px;
              display: inline-block;
              position: relative;

              &::after {
                content: '';
              }
            }
          }

          span {
            &.thousands {
              display: none;
            }
          }
        }

        &.counter-2 {
          span {
            &.value {
              width: 100px;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .counter-frame {
    .left-frame {
      position: absolute;
      z-index: -1;
      bottom: 5%;
      left: -150px;
    }

    .right-frame {
      position: absolute;
      z-index: -1;
      top: 15%;
      right: -100px;
    }
  }
}

/*==== Counter Section End ==== */

.toolbox-section {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .toolbox-header {
    position: relative;

    .toolbox-header-frame {
      .top-frame {
        position: absolute;
        z-index: -1;
        top: -80px;
        right: 0;
      }
    }
  }

  .ecommerce-service {
    overflow: hidden;
    position: relative;
    z-index: 1;

    .ecommerce-wrapper {
      position: relative;
      z-index: 1;

      .ecommerce-service-frame {
        .top-right-frame {
          position: absolute;
          z-index: -1;
          top: -50px;
          right: 0;
        }
      }
    }

    .ecommerce-left-service-frame {
      .top-left-frame {
        position: absolute;
        z-index: -1;
        top: 0;
        left: -100px;
      }
    }
  }

  .telehealth-frame {
    .telehealth-left-frame {
      position: absolute;
      z-index: -1;
      bottom: 80px;
      left: -100px;
    }

    .telehealth-right-frame {
      position: absolute;
      z-index: -1;
      bottom: 250px;
      right: -50px;
    }
  }
}

/*==== Toolbox Section End ==== */

.legitscript-section {
  position: relative;
  z-index: 1;

  .legitscript-frame {
    .legitscript-left-frame {
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
    }

    .legitscript-right-frame {
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
    }
  }
}

/*==== LegitScript Section End ==== */

.security-section {
  position: relative;
  overflow: hidden;
  z-index: 1;

  .security-frame {
    .security-left-frame {
      position: absolute;
      z-index: -1;
      bottom: 100px;
      left: 200px;
    }

    .security-left-frame-2 {
      position: absolute;
      z-index: -1;
      top: 40%;
      left: -120px;
    }

    .security-right-frame {
      position: absolute;
      z-index: -1;
      bottom: -100px;
      right: -80px;
    }
  }
}

/*==== Security Section End ==== */

.how-to-section {
  &.frame {
    position: relative;
    z-index: 1;

    .ht-frame {
      .frame-left {
        position: absolute;
        z-index: -1;
        left: -60px;
        bottom: 200px;
      }

      .frame-right {
        position: absolute;
        z-index: -1;
        right: 13%;
        bottom: 300px;
      }
    }
  }
}

/*==== How to Work Section End ==== */

.telehealth-section {
  position: relative;
  z-index: 1;
  overflow: hidden;

  .telehealth-frame {
    .frame-top {
      position: absolute;
      z-index: -1;
      top: -55px;
      right: 0;
    }

    .frame-bg {
      position: absolute;
      z-index: -1;
      top: 30px;
      right: -180px;
    }
  }
}

/*==== Telehealth Section End ==== */

@media screen and (min-width: 0px) and (max-width: 1200px) {

  // Home page styles
  .home-banner {

    /*OLd Frame */
    /*
    .frame-img {
      .top-left-frame {
        top: -40px;
        left: -130px;
        img {
          width: 311px;
        }
      }
      .top-right-frame {
        top: -20px;
        right: -150px;
        img {
          width: 361px;
        }
      }
      .bottom-left-frame {
        bottom: -50px;
        left: -50px;
        img {
          width: 296px;
        }
      }
      .bottom-right-frame {
        bottom: -80px;
        right: -70px;
        img {
          width: 320px;
        }
      }
    }
    */
    .box {
      .wave {
        &.one {
          width: 300px;
          height: 260px;
          left: -80px;
          bottom: -80px;
        }

        &.two {
          width: 350px;
          height: 290px;
          right: -100px;
          bottom: -120px;
        }

        &.three {
          width: 330px;
          height: 260px;
          right: -100px;
          top: -80px;
        }

        &.four {
          width: 330px;
          height: 280px;
          left: -80px;
          top: -100px;
        }

        &.lineFour {
          width: 300px;
          height: 250px;
          left: -70px;
          top: -80px;
        }

        &.lineThree {
          width: 330px;
          height: 280px;
          right: -100px;
          top: -120px;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 992px) {

  // Home page styles
  .home-banner {
    padding-top: 170px;
    padding-bottom: 50px;
  }

  .counter-section {
    .counter-frame {
      .left-frame {
        top: unset;
        bottom: -100px;
        left: -180px;

        img {
          transform: rotate(-60deg);
        }
      }

      .right-frame {
        top: -40px;
        right: -100px;
      }
    }

    .all-counter {
      .counter-width {
        p {
          &.counter-0 {
            span {
              &.value {
                width: 100px;
              }
            }
          }

          &.counter-1 {
            span {
              &.value {
                width: 120px;
              }
            }
          }

          &.counter-2 {
            span {
              &.value {
                width: 70px;
              }
            }
          }
        }
      }
    }
  }

  .toolbox-section {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .toolbox-header {
      position: relative;

      .toolbox-header-frame {
        .top-frame {
          position: absolute;
          z-index: -1;
          top: -80px;
          right: 0;
        }
      }
    }

    .ecommerce-service {
      .ecommerce-wrapper {
        .ecommerce-service-frame {
          .top-right-frame {
            top: unset;
            bottom: 300px;
            right: -70px;
          }
        }
      }
    }

    .telehealth-frame {
      .telehealth-left-frame {
        bottom: -100px;
        left: -120px;

        img {
          transform: rotate(-25deg);
        }
      }

      .telehealth-right-frame {
        bottom: 150px;
        right: -50px;
      }
    }
  }

  .how-to-section {
    &.frame {
      position: relative;
      z-index: 1;

      .ht-frame {
        .frame-left {
          position: absolute;
          z-index: -1;
          left: -60px;
          bottom: 200px;
        }

        .frame-right {
          position: absolute;
          z-index: -1;
          right: 13%;
          bottom: 300px;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  .home-banner {
    margin-top: unset;
    padding-top: 100px;

    //Old Frame
    /*
    .frame-img {
      .top-left-frame {
        top: -80px;
        left: -130px;
        img {
          width: 311px;
        }
      }
      .top-right-frame {
        top: -80px;
        right: -180px;
        img {
          width: 361px;
        }
      }
      .bottom-left-frame {
        bottom: -130px;
        left: 50px;
        img {
          width: 296px;
        }
      }
      .bottom-right-frame {
        display: none;
      }
    }
    */
    .box {
      .wave {
        &.one {
          width: 280px;
          height: 250px;
          left: 25%;
          bottom: -170px;
        }

        &.two {
          display: none;
        }

        &.three {
          width: 210px;
          height: 160px;
          right: -150px;
          top: -40px;
        }

        &.lineThree {
          width: 180px;
          height: 190px;
          right: -120px;
          top: -75px;
        }

        &.four {
          width: 230px;
          height: 180px;
          left: -60px;
          top: -50px;
        }

        &.lineFour {
          width: 200px;
          height: 170px;
          left: -50px;
          top: -50px;
        }
      }
    }
  }

  .counter-section {
    .all-counter {
      gap: 30px;
      flex-direction: column;

      .counter-width {
        width: 200px;
        margin: 0 auto;

        p {
          i {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .toolbox-header {
    .toolbox-header-frame {
      .top-frame {
        top: -50px !important;

        img {
          width: 120px;
        }
      }
    }
  }

  .ht-connect-section .contact-frame .left-frame {
    bottom: 200px !important;
  }
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .home-banner {
    .box {
      .wave {
        &.one {
          width: 200px;
          height: 170px;
          left: 20%;
          bottom: -130px;
        }
      }
    }
  }

  .toolbox-header {
    .toolbox-header-frame {
      .top-frame {
        img {
          width: 80px;
        }
      }
    }
  }

  .how-to-section {
    .work-slider {
      .work-card-col {
        height: 350px;

        .work-card {
          padding: 44px;
        }
      }

      .swiper-wrapper {
        margin-left: 0;
        padding-bottom: 60px;
      }

      .swiper-button-next {
        width: 40px;
        height: 40px;
        right: 35%;
        border: 1px solid $primary;
        border-radius: 50%;
        background: unset;
        top: unset;
        position: absolute;
        bottom: 0;

        &::after {
          font-size: 20px;
          color: $primary;
        }
      }

      .swiper-button-prev {
        width: 40px;
        height: 40px;
        left: 35%;
        border: 1px solid $primary;
        border-radius: 50%;
        background: unset;
        top: unset;
        position: absolute;
        bottom: 0;

        &::after {
          font-size: 20px;
          color: $primary;
        }
      }
    }
  }
}