.solution-sec-one {
  .sec-one-frame {
    .left-frame {
      bottom: 100px;
      left: -115px;
    }
    .right-frame {
      top: 100px;
      right: -125px;
    }
  }
}
.solution-sec-two {
  .sec-two-frame {
    .left-frame {
      top: 60px;
      left: -150px;
    }
    .right-frame {
      bottom: 50px;
      right: -130px;
    }
  }
}
.solution-sec-three {
  .sec-three-frame {
    .left-frame {
      top: 0px;
      left: -130px;
    }
  }
}
