<section class="our-service section" data-aos="fade-up" data-aos-duration="900">
  <div class="container">
    <div class="our-service__panel">
      <div class="our-service__content">
        <div class="row">
          <div class="col-12">
            <h2 class="our-service__title" data-aos="fade-up-right" data-aos-duration="700" data-aos-easing="ease-in-out">
              What ThriveWell RX Does
            </h2>
            <p class="our-service__intro" data-aos="fade-up" data-aos-duration="900">
              ThriveWell RX helps businesses launch and operate modern telehealth
              programs without building the entire medical, technical, and
              operational system from scratch. We provide the foundation needed
              to support:
            </p>
          </div>
        </div>

        <ul class="our-service__benefits row gy-3" data-aos="fade-up" data-aos-duration="1000">
          <li
            class="our-service__benefit col-lg-4 col-md-6"
            *ngFor="let benefit of benefits; let i = index"
            data-aos="fade-right"
            data-aos-duration="700"
            [attr.data-aos-delay]="i * 100"
          >
            <i class="icon-tick" aria-hidden="true"></i>
            <span>{{ benefit }}</span>
          </li>
        </ul>

        <p class="our-service__summary" data-aos="fade-up" data-aos-duration="900">
          Whether you are launching a new healthcare brand or expanding an
          existing wellness business, ThriveWell RX gives you the platform and
          backend infrastructure to move faster.
        </p>

        <div class="our-service__divider"></div>

        <div class="our-service__cards row g-4">
          <div
            class="our-service__card-col col-lg-4 col-sm-6"
            *ngFor="let service of services; let i = index"
            data-aos="zoom-in-up"
            data-aos-duration="900"
            [attr.data-aos-delay]="i * 120"
          >
            <article class="our-service__card" tabindex="0">
              <div class="our-service__card-inner">
                <div class="our-service__card-face our-service__card-face--front">
                  <img
                    class="our-service__card-img"
                    [src]="service.image"
                    [alt]="service.title"
                  />
                  <div class="our-service__card-overlay">
                    <h3 class="our-service__card-title">{{ service.title }}</h3>
                  </div>
                </div>

                <div class="our-service__card-face our-service__card-face--back">
                  <p class="our-service__card-copy">
                    Create a frictionless patient experience with our ecommerce
                    solutions for telehealth.
                  </p>
                  <p class="our-service__card-label">We offer:</p>
                  <ul class="our-service__card-list">
                    <li
                      class="our-service__card-item"
                      *ngFor="let detail of cardDetails"
                    >
                      <i class="icon-tick" aria-hidden="true"></i>
                      <span>{{ detail }}</span>
                    </li>
                  </ul>
                  <a
                    class="our-service__card-link"
                    [routerLink]="['/simplify-your-e-commerce-experience']"
                  >
                    Learn More
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
