<footer class="bg-gray-light">
  <div class="container">
    <div class="row section">
      <div class="col-xl-8 col-lg-7 col-md-6 order-md-0 order-1 text-md-start text-center mt-md-0 mt-50">
        <div>
          <a href="#">
            <img
              src="images/thrivewell-logo.svg"
              alt="Thrive Logo"
            />
          </a>
        </div>
        <h4 class="fs-32 mt-md-40 mt-20">Have questions?</h4>
        <p class="ff-noto-serif">Ask us at
          <a
            class="text-primary"
            href="mailto:hello@thrivewell.com"
          >hello&#64;thrivewell.com</a>
        </p>
        <p class="text-gray fs-20 fw-medium mt-30">Connect With Us</p>
        <ul class="d-flex justify-content-md-start justify-content-center gap-22 mt-20">
          <li><a href="#"><i class="fs-35 icon-instagram"></i></a></li>
          <li><a href="#"><i class="fs-35 icon-facebook"></i></a></li>
          <li><a href="#"><i class="fs-35 icon-linkedin"></i></a></li>
          <li><a href="#"><i class="fs-35 icon-twitter"></i></a></li>
        </ul>
      </div>

      <div class="col-xl-4 col-lg-5 col-md-6 order-md-1 order-0">
        <div class="d-md-flex d-block text-md-start text-center gap-60">
          <ul class="d-flex flex-column gap-md-35 gap-30">
            <li><a
                [routerLink]="''"
                class="fs-lg-20 fs-md-18 fs-sm-16 fs-15 fw-medium text-dark"
              >Home</a></li>
            <li><a
                [routerLink]="'/about'"
                class="fs-lg-20 fs-md-18 fs-sm-16 fs-15 fw-medium text-dark"
              >About</a></li>
            <li><a
                [routerLink]="''"
                class="fs-lg-20 fs-md-18 fs-sm-16 fs-15 fw-medium text-dark"
              >Solutions</a></li>
            <li><a
                [routerLink]="''"
                class="fs-lg-20 fs-md-18 fs-sm-16 fs-15 fw-medium text-dark"
              >Products</a></li>
            <li><a
                [routerLink]="'/faq'"
                class="fs-lg-20 fs-md-18 fs-sm-16 fs-15 fw-medium text-dark"
              >FAQ</a></li>
          </ul>
          <ul class="d-flex flex-column gap-md-35 gap-30 mt-md-0 mt-30">
            <li><a
                [routerLink]="''"
                class="fs-lg-20 fs-md-18 fs-sm-16 fs-15 fw-medium text-dark"
              >Privacy Policy</a></li>
            <li><a
                [routerLink]="''"
                class="fs-lg-20 fs-md-18 fs-sm-16 fs-15 fw-medium text-dark"
              >Terms & Conditions</a></li>
            <li class="mt-auto">
              <a
                [routerLink]="'/book-now'"
                class="btn-cta"
              >Request A Demo</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer bg-primary-light-one py-35">
    <div class="container">
      <p class=" fs-md-16 fs-14 fw-medium text-white text-center mb-0">Copyright &copy; 2024 Thrivewell. All rights reserved.</p>
    </div>
  </div>

  <div class="footer-frame">
    <div class="footer-left">
      <img
        src="images/footer/footer-left.svg"
        alt="Left Frame"
      >
    </div>
    <div class="footer-right">
      <img
        src="images/footer/footer-right.svg"
        alt="Right Frame"
      >
    </div>
  </div>
</footer>
<!--====| Footer Section End |====-->