<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====|| Products Banner Start ||====-->
<section class="other-page-banner bg-yellow position-relative z-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h6
          class="ff-urbanist fs-md-28 fs-18 fw-medium text-primary text-uppercase text-md-start text-center"
          data-aos="fade-up-right"
          data-aos-duration="700"
          data-aos-easing="ease-in-out-cubic"
        >
          PRODUCTS
        </h6>
        <h2
          class="fw-bold text-capitalize text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >Powerful Solutions for Your Healthcare Needs</h2>
        <p
          class="fs-20 fw-medium mt-30 mb-0 text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="1100"
          data-aos-easing="ease-in-out-cubic"
        >
          Discover ThrivewellRx's comprehensive suite of products designed to transform your healthcare business. From telehealth platforms to pharmacy solutions, we provide everything you need to deliver exceptional patient care.
        </p>
      </div>
    </div>
  </div>
  <other-banner-frame></other-banner-frame>
</section>
<!--====|| Products Banner End ||====-->

<!--====|| Main Section Start ||====-->
<main>
  <!--====|| Product Section One Start ||====-->
  <section class="solution-sec-one section position-relative overflow-hidden z-1">
    <div class="container">
      <div class="row">
        <div class="col-md-7 pe-xl-70 order-md-0 order-1 mt-md-0 mt-20">
          <div class="row gy-xl-30 gy-10">
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-right"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-right"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Telehealth Platform
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    A comprehensive white-labeled virtual care platform that enables seamless patient-provider interactions. Support both synchronous and asynchronous consultations.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-left"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-left"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Mail Order Pharmacy
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Efficient prescription fulfillment services that ensure patients receive medications promptly and conveniently, enhancing their healthcare journey.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-right"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-right"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Remote Patient Monitoring
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Real-time patient data collection and monitoring to manage medication adherence and chronic conditions effectively from any distance.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-left"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-left"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Lab Testing Integration
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Comprehensive lab testing and diagnostic capabilities integrated into your platform for a complete healthcare experience.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 order-md-1 order-0 mt-md-0 mt-20">
          <div
            class="section-img bg-primary"
            data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out-cubic"
          >
            <div class="img-wrapper">
              <img
                src="images/solutions/doctor-1.webp"
                alt="Products"
                class="w-100"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec-one-frame">
      <div class="left-frame position-absolute z-n1">
        <img
          src="images/solutions/frame/sec-one/left-frame.svg"
          alt="Left Frame"
        />
      </div>
      <div class="right-frame position-absolute z-n1">
        <img
          src="images/solutions/frame/sec-one/right-frame.svg"
          alt="Right Frame"
        />
      </div>
    </div>
  </section>
  <!--====|| Product Section One End ||====-->

  <!--====|| Product Section Two Start ||====-->
  <section class="solution-sec-two position-relative overflow-hidden z-1 section bg-secondary-light">
    <div class="container">
      <div class="row">
        <div class="col-md-5 pe-xl-30 pe-auto mt-md-0 mt-20">
          <div
            class="section-img left-img"
            data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out-cubic"
          >
            <div class="img-wrapper left-sec-img">
              <img
                src="images/solutions/doctor-2.webp"
                alt="Products"
                class="w-100"
              />
            </div>
          </div>
        </div>
        <div class="col-md-7 mt-md-0 mt-20">
          <div class="row gy-xl-30 gy-10">
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-right"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-right"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Pharmacy Discount Programs
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Branded programs that offer patients accessible and affordable medication solutions, boosting loyalty and health outcomes.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-left"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-left"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Nutritional Supplements
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Medical-grade supplement solutions bridging the gap between medicine and nutrition for comprehensive patient care.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-right"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-right"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Retail Pharmacy Network
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Flexible fulfillment options that route prescriptions to your patient's nearest retail or independent pharmacy.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-left"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-left"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Provider Network
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Access to our comprehensive network of elite healthcare providers ensuring superior patient care when needed.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec-two-frame">
      <div class="top-right-frame position-absolute end-0 top-0 z-n1">
        <img
          src="images/solutions/frame/sec-two/top-right.svg"
          alt="Top Right Frame"
          class="w-100"
        />
      </div>
      <div class="left-frame position-absolute z-n1">
        <img
          src="images/solutions/frame/sec-two/left-frame.svg"
          alt="Left Frame"
        />
      </div>
      <div class="right-frame position-absolute z-n1">
        <img
          src="images/solutions/frame/sec-two/right-frame.svg"
          alt="Right Frame"
        />
      </div>
    </div>
  </section>
  <!--====|| Product Section Two End ||====-->
</main>
<!--====|| Main Section End ||====-->

<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->
