<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====|| Book Now Banner Start ||====-->
<section class="other-page-banner bg-yellow position-relative">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h6 class="ff-urbanist fs-28 fw-medium text-primary text-uppercase mt-40">About Us</h6>
        <h2 class="fw-bold text-capitalize">We are a digital health platform company</h2>
        <p class="fs-20 fw-medium mt-30">Our platform is designed to scale with you</p>
      </div>
    </div>
  </div>
  <div class="book-now-frame">
    <div class="bottom-left-frame position-absolute start-0 bottom-0">
      <img
        src="images/book-now/banner/banner-left.svg"
        alt="Banner Left Frame"
      >
    </div>
    <div class="bottom-right-frame position-absolute end-0 bottom-0">
      <img
        src="images/book-now/banner/banner-right.svg"
        alt="Banner Right Frame"
      >
    </div>
  </div>
</section>
<!--====|| Book Now Banner End ||====-->


<!--====|| Main Section Start ||====-->
<main>
  <!--====|| Telehealth Platform Section STart ||====-->
  <section class="telehealth-platform-section section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Thrivewell Telehealth <br> Platform</h4>
          <p class="fw-bold mt-30">Comprehensive Telehealth Service</p>
          <p class=" pe-md-100 pe-auto">Thrivewell operates an advanced telehealth platform, enabling individuals to access a wide range of healthcare
            services remotely. This
            platform
            ensures secure communication between patients and providers, facilitating consultations, prescription fulfillment, and more. Types of care
            offered
            include:</p>
          <ul>
            <li>Urgent Care</li>
            <li>Mental Health</li>
            <li>Preventive Care</li>
            <li>Sexual Health</li>
            <li>Chronic Condition Management</li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="section-img bg-primary">
            <img
              src="images/about/telehealth-platform.png"
              alt="E-Commerce Experience"
              class="w-100"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="telehealth-frame">
      <div class="bottom-left-frame">
        <img
          src="images/about/frame/telehealth-platform/bottom-left.svg"
          alt="Bottom Left Frame"
        >
      </div>
      <div class="bottom-right-frame ">
        <img
          src="images/about/frame/telehealth-platform/bottom-right.svg"
          alt="Bottom Right Frame"
        >
      </div>
    </div>
  </section>
  <!--====|| Telehealth Platform Section End ||====-->

  <!--====|| Innovative Technology Section Start ||====-->
  <section class="it-section section position-relative bg-secondary-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h4>Innovative Technology</h4>
          <p class="fw-bold mt-30">Data Analytics:</p>
          <p class=" pe-md-100 pe-auto">Thrivewell's engineering team manages senior health technology pilots, including sensor-based monitoring for
            elderly care programs. We build data
            lakes and custom dashboards to analyze streaming data, providing actionable insights for better care management.</p>
          <p class="fw-bold mt-30">Data Analytics:</p>
          <p class=" pe-md-100 pe-auto">Thrivewell offers turnkey solutions for senior living and aging services, designed to integrate seamlessly
            into existing business processes. Our
            solutions save time and money, ensuring smooth operations and improved workflows within healthcare communities.</p>
          <p class="fw-bold mt-30">Smart Technology Implementation:</p>
          <p class=" pe-md-100 pe-auto">Thrivewell integrates cutting-edge “smart” technology ecosystems to enhance clinical decision-making,
            community security, and quality of life,
            particularly for residents of senior living communities.</p>

        </div>
        <div class="col-md-6">
          <div>
            <p class="fw-bold mt-70">Smart Technology Implementation:</p>
            <p class=" pe-md-100 pe-auto">Thrivewell integrates cutting-edge “smart” technology ecosystems to enhance clinical decision-making,
              community security, and quality of life,
              particularly for residents of senior living communities.</p>
          </div>
          <div class="section-img mt-50 ">
            <img
              src="images/about/innovative-technology.png"
              alt="Innovation Technology"
              class="w-100"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="it-frame">
      <div class="top-right-frame position-absolute top-0 end-0">
        <img
          src="images/about/frame/innovative-technology/top-right.svg"
          alt="Top Right Frame"
        >
      </div>
    </div>
  </section>
  <!--====|| Innovative Technology Section End ||====-->

  <!--====|| Healthcare E-Commerce Section Start ||====-->
  <section class="healthcare-section section position-relative ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pe-md-100 pe-auto">
          <div class="section-img bg-primary">
            <img
              src="images/about/healthcare-ecommerce.png"
              alt="Innovation Technology"
              class="w-100 left-sec-img"
            />
          </div>
        </div>
        <div class="col-md-6">
          <h4>Healthcare E-Commerce <br> End-to-End Solutions</h4>
          <p class=" pe-md-100 pe-auto">In response to the growing digital health and telehealth adoption, Thrivewell provides comprehensive
            e-commerce solutions for the pharmaceutical
            sector. Our services offer:
          </p>
          <ul>
            <li><span class="fw-bold">Comprehensive Digital Experience:</span> Patients enjoy a seamless online healthcare experience.</li>

            <li><span class="fw-bold">Increased Margins:</span> Pharma companies gain control and enhance profit margins.</li>
            <li><span class="fw-bold">Data Insights:</span> Access to patient data facilitates a better understanding of patient needs.</li>
            <li><span class="fw-bold">Competitive Advantage:</span> Ability to offer branded products beyond generics.</li>
          </ul>

        </div>

      </div>
    </div>
    <div class="healthcare-frame">
      <div class="top-right-frame ">
        <img
          src="images/about/frame/healthcare/top-right.svg"
          alt="Top Right Frame"
        >
      </div>
      <div class="bottom-right-frame ">
        <img
          src="images/about/frame/healthcare/bottom-right.svg"
          alt="Bottom Right Frame"
        >
      </div>
    </div>
  </section>
  <!--====|| Healthcare E-Commerce Section End ||====-->
</main>
<!--====|| Main Section End ||====-->

<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->