<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->
<!--====| Banner Section Start |====-->
<section class="home-banner section">
  <div class="container">
    <h1
      class="text-capitalize text-md-start text-center"
      data-aos="fade-up"
      data-aos-duration="500"
    >
      Transform your Telehealth <br />
      vision into reality
    </h1>
    <div class="row">
      <div class="col-md-8 pb-xl-70 pb-lg-40 pb-md-30">
        <div class="mt-xl-50 mt-lg-20 mt-md-10 pe-xl-120 pe-lg-80 pe-md-30 pe-auto text-md-start text-center">
          <p
            class="fs-20 fw-medium text-primary"
            data-aos="fade-up"
            data-aos-duration="700"
          >
            Introducing the premier telehealth solution. 
          </p>
          <p
            data-aos="fade-up"
            data-aos-duration="800"
          >
            Transform healthcare with Thrivewell's industry-leading telehealth
            system.
          </p>
          <p
            data-aos="fade-up"
            data-aos-duration="900"
          >
            Our comprehensive platform simplifies operations and integrates
            seamlessly, letting you focus on what matters most - your patients.
          </p>
          <p
            class="fw-semibold"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            Request a free demo and see the telehealth revolution for yourself! 
          </p>
          <a
            [routerLink]="['/book-now']"
            class="btn-cta mt-xl-20 mt-lg-10 mt-0"
            data-aos="fade-up"
            data-aos-duration="1200"
          >Book Now</a>
        </div>
      </div>
      <div class="col-md-4 d-md-block d-none">
        <div class="mt-xl-n80 mt-lg-n30">
          <img
            src="images/home/mobile-browsing.png"
            alt="Mobile Browse"
            class="w-100"
            data-aos="zoom-in"
            data-aos-duration=" 1200"
            data-aos-easing="ease-in-out-cubic"
          />
        </div>
      </div>
    </div>
  </div>

  <div class='box'>
    <div class='wave one'> </div>
    <div class='wave two'></div>
    <div class='wave three'></div>
    <div class='wave lineThree'></div>
    <div class='wave four'></div>
    <div class='wave lineFour'></div>
  </div>

  <!-- <div class="frame-img">
    <div class="top-left-frame">
      <img
        src="images/home/frame/banner/top-left.svg"
        alt="Bottom Left Frame"
      >
    </div>
    <div class="top-right-frame">
      <img
        src="images/home/frame/banner/top-right.svg"
        alt="Top Right Frame"
      >
    </div>
    <div class="bottom-left-frame">
      <img
        src="images/home/frame/banner/bottom-left.svg"
        alt="Bottom Left Frame"
      >
    </div>
    <div class="bottom-right-frame">
      <img
        src="images/home/frame/banner/bottom-right.svg"
        alt="Bottom Right Frame"
      >
    </div>
  </div> -->


</section>
<!--====| Banner Section End |====-->

<!--====|| Main Section Start ||====-->
<main>
  <!--====| Client Section Start |====-->
  <section class="counter-section section">
    <div class="counter container">
      <div class="d-md-flex d-block gap-35 pb-md-30 pb-10 text-md-start text-center">
        <h2
          class="text-nowrap lh-1"
          data-aos="fade-up-right"
          data-aos-duration="500"
        >Proven Results</h2>
        <p
          class="fs-xl-20 fs-lg-18 fs-md-16 fs-14 mt-md-0 mt-20"
          data-aos="fade-up-left"
          data-aos-duration="500"
        >
          Thrivewell goes beyond promises. Our custom health-commerce websites
          get real results. See how we've boosted online visibility and
          conversions for businesses like yours. Join our growing list of
          success stories. Choose Thrivewell for measurable impact.
        </p>
      </div>
      <div class="common-border"></div>
      <div>
        <div class="row mt-lg-60 mt-md-30 mt-20 g-md-auto g-3">
          <div
            class="col-md-4 text-center"
            *ngFor="let counter of counters"
          >
            <p class="fs-lg-78 fs-50 fw-250 mb-lg-auto mb-0 d-flex align-items-center justify-content-center">
              <span>{{ counter.currentValue }}</span>K+
              <i class="icon-up-arrow fs-lg-55 fs-35 text-primary ms-lg-30 ms-md-10"></i>
            </p>
            <p
              class="fs-lg-25 fs-md-18 fs-15 fw-300 mb-0"
              data-aos="fade-up"
              data-aos-duration="300"
            >{{ counter.label }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="counter-frame">
      <div class="left-frame">
        <img
          src="images/home/frame/counter/left-frame.svg"
          alt="Left Frame"
        >
      </div>
      <div class="right-frame">
        <img
          src="images/home/frame/counter/right-frame.svg"
          alt="Right Frame"
        >
      </div>
    </div>
  </section>
  <!--====| Client Section End |====-->

  <!--====| Toolbox Section Start |====-->
  <section class="toolbox-section section bg-secondary-light">
    <div class="toolbox-header">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-12 mb-10">
            <h2
              class="fw-normal  text-md-start text-center"
              data-aos="fade-up-right"
              data-aos-duration="300"
              data-aos-easing="ease-in-out"
            >
              Empower your DTC brand <br />
              with an all-inclusive toolbox.
            </h2>
            <p
              data-aos="fade-up"
              data-aos-duration="500"
              class="fs-xl-20 fs-lg-18 fs-md-16 fs-14 fw-medium pe-60 mt-md-20 mt-10  text-md-start text-center"
            >
              Empower your direct-to-consumer brand with a seamless telehealth
              experience. Our all-in-one toolkit streamlines operations and
              simplifies patient care, so you can focus on growth. Learn more
              today!
            </p>
          </div>
          <div class="col-12">
            <div class="common-border"></div>
          </div>
        </div>
      </div>
      <div class="toolbox-header-frame">
        <div class="top-frame">
          <img
            src="images/home/frame/toolbox/toobox-header.svg"
            alt="Toolbox Header Frame"
          >
        </div>
      </div>
    </div>
    <!--Toolbox Header End-->

    <div class="ecommerce-service section py-lg-auto py-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7 pe-xl-50 pe-lg-30 pe-auto">
            <h4
              class="mb-20 text-md-start text-center"
              data-aos="zoom-in-up"
              data-aos-duration="600"
            >
              Simplify Your E-Commerce <br />
              Experience  
            </h4>
            <p
              class="fw-medium  text-md-start text-center"
              data-aos="fade-right"
              data-aos-duration="700"
            >
              Create a frictionless patient experience with our <br />ecommerce
              solutions for telehealth.
            </p>
            <div
              class="section-img d-md-none d-block mt-30 mb-20"
              data-aos="fade-up"
              data-aos-duration="900"
              data-aos-easing="ease-in-out-cubic"
            >
              <img
                src="images/home/ecommerce-exp.webp"
                alt="E-Commerce Experience"
                class="w-100"
              />
            </div>
            <p
              class="fw-medium"
              data-aos="fade-up"
              data-aos-duration="700"
            >We offer:</p>
            <div class="row">
              <div class="col-6">
                <ul class="d-flex flex-column gap-lg-20 gap-10">
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="800"
                  >
                    <i class="icon-tick"></i> Professional Branding
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="800"
                  >
                    <i class="icon-tick"></i> Easy Onboarding
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="850"
                  >
                    <i class="icon-tick"></i> Quick Doctor Visit
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="900"
                  >
                    <i class="icon-tick"></i> Seamless Payments
                  </li>
                </ul>
              </div>
              <div class="col-6 ">
                <ul class="d-flex flex-column gap-lg-20 gap-10">
                  <li
                    class="fw-medium"
                    data-aos="fade-left"
                    data-aos-duration="800"
                  >
                    <i class="icon-tick"></i> Flexible Promotions
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-left"
                    data-aos-duration="850"
                  >
                    <i class="icon-tick"></i> Secure Transactions
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-left"
                    data-aos-duration="900"
                  >
                    <i class="icon-tick"></i> Fast Verification
                  </li>
                </ul>
              </div>
              <div class="col-md-12 text-md-start text-center">
                <a
                  class="btn-cta-outline mt-lg-30 mt-20"
                  [routerLink]="'/simplify-your-e-commerce-experience'"
                  data-aos="fade-up"
                  data-aos-duration="900"
                  data-aos-easing="ease-in-out-cubic"
                >Learn More </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-5 d-md-block d-none">
            <div
              class="section-img"
              data-aos="zoom-in"
              data-aos-duration="700"
              data-aos-easing="ease-in-out-cubic"
            >
              <img
                src="images/home/ecommerce-exp.webp"
                alt="E-Commerce Experience"
                class="w-100"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Simplify E-Commerce Section End-->

    <div class="ecommerce-service pt-xl-60 pt-20  pb-xl-80 pb-50">
      <div class="container ecommerce-wrapper">
        <div class="row">
          <div class="col-lg-6 col-md-5 d-md-block d-none">
            <div
              class="section-img left-img"
              data-aos="zoom-in"
              data-aos-duration="700"
              data-aos-easing="ease-in-out-cubic"
            >
              <img
                src="images/home/telehealt-integration.webp"
                alt="Telehealth Seamless Integration "
                class="w-100 left-sec-img"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-7 ps-xl-80 ps-lg-60 ps-lg-30 ps-auto">
            <h4
              class="mb-20 text-md-start text-center"
              data-aos="zoom-in-up"
              data-aos-duration="600"
            >
              Revolutionizing Telehealth: <br />
              Seamless Integration
            </h4>
            <p
              class="fw-medium text-md-start text-center"
              data-aos="fade-left"
              data-aos-duration="700"
            >
              Our intuitive software seamlessly merges all aspects of telehealth
              solutions, ensuring a streamlined healthcare journey. Let’s
              explore the key features that set us apart:
            </p>

            <div
              class="section-img d-md-none d-block mt-30 mb-20"
              data-aos="zoom-in"
              data-aos-duration="700"
              data-aos-easing="ease-in-out-cubic"
            >
              <img
                src="images/home/telehealt-integration.webp"
                alt="Telehealth Seamless Integration "
                class="w-100 "
              />
            </div>

            <div class="row">
              <div class="col-md-6">
                <ul class="d-flex flex-column gap-lg-20 gap-10">
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="800"
                  >
                    <i class="icon-tick"></i> Asynchronous Visits
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="850"
                  >
                    <i class="icon-tick"></i> Dedicated Patient Portal
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="900"
                  >
                    <i class="icon-tick"></i> Trusted Doctor Network
                  </li>
                </ul>
              </div>
              <div class="col-md-6 mt-md-0 mt-10">
                <ul class="d-flex flex-column  gap-lg-20 gap-10">
                  <li
                    class="fw-medium"
                    data-aos="fade-left"
                    data-aos-duration="800"
                  >
                    <i class="icon-tick"></i> Comprehensive Doctor Portal and
                    CRM
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-left"
                    data-aos-duration="850"
                  >
                    <i class="icon-tick"></i> Secure Doctor-Patient Messaging
                  </li>
                </ul>
              </div>
              <div class="col-md-12 text-md-start text-center">
                <a
                  [routerLink]="'/revolutionizing-telehealth-seamless-integration'"
                  class="btn-cta-outline mt-30"
                  data-aos="fade-up"
                  data-aos-duration="900"
                  data-aos-easing="ease-in-out-cubic"
                >Learn More </a>
              </div>
            </div>
          </div>
        </div>
        <div class="ecommerce-service-frame">
          <div class="top-right-frame">
            <img
              src="images/home/frame/toolbox/toolbox-top-right.svg"
              alt="Toolbox top right"
            >
          </div>
        </div>
      </div>
      <div class="ecommerce-left-service-frame">
        <div class="top-left-frame">
          <img
            src="images/home/frame/toolbox/toolbox-top-left.svg"
            alt="Toolbox top left"
          >
        </div>
      </div>
    </div>
    <!-- Telehealth Seamless Integration Section End-->

    <div class="ecommerce-service pt-xl-60 pt-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <h4
              class="mb-20"
              data-aos="zoom-in-up"
              data-aos-duration="600"
            >
              Efficient Fulfillment for Your <br />
              Telehealth Venture  
            </h4>
            <p
              class="fw-medium pe-50"
              data-aos="fade-right"
              data-aos-duration="700"
            >
              We understand that fulfillment is a critical aspect of telehealth
              business. Our platform ensures secure, direct medication shipments
              from pharmacy to patients. Let’s explore the key features that
              enhance your DTC brand experience:
            </p>
            <div
              class="section-img d-md-none d-block mt-30 mb-20"
              data-aos="zoom-in"
              data-aos-duration="700"
              data-aos-easing="ease-in-out-cubic"
            >
              <img
                src="images/home/telehealth-venture.webp"
                alt="elehealth Venture"
                class="w-100"
              />
            </div>

            <div class="row">
              <div class="col-md-6 pe-md-0 pe-auto">
                <ul class="d-flex flex-column gap-20">
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="800"
                  >
                    <i class="icon-tick"></i> Nationwide Pharmacy Network
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="850"
                  >
                    <i class="icon-tick"></i> Custom Branding on Packaging
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-right"
                    data-aos-duration="900"
                  >
                    <i class="icon-tick"></i> Customized Formulas
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="d-flex flex-column gap-20">
                  <li
                    class="fw-medium"
                    data-aos="fade-left"
                    data-aos-duration="800"
                  >
                    <i class="icon-tick"></i>Built-in Shipping Integration
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-left"
                    data-aos-duration="850"
                  >
                    <i class="icon-tick"></i>Dynamic Discount Codes
                  </li>
                  <li
                    class="fw-medium"
                    data-aos="fade-left"
                    data-aos-duration="900"
                  >
                    <i class="icon-tick"></i>Automated ID Verification
                  </li>
                </ul>
              </div>
              <div class="col-md-12 text-md-start text-center">
                <a
                  [routerLink]="'/efficient-fulfillment-for-your-telehealth-venture'"
                  class="btn-cta-outline mt-30"
                  data-aos="fade-up"
                  data-aos-duration="900"
                  data-aos-easing="ease-in-out-cubic"
                >Learn More </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-5 d-md-block d-none">
            <div
              class="section-img"
              data-aos="zoom-in"
              data-aos-duration="700"
              data-aos-easing="ease-in-out-cubic"
            >
              <img
                src="images/home/telehealth-venture.webp"
                alt="elehealth Venture"
                class="w-100"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="telehealth-frame">
      <div class="telehealth-left-frame">
        <img
          src="images/home/frame/toolbox/telehealth-left-frame.svg"
          alt="Telehealth left"
        >
      </div>
      <div class="telehealth-right-frame">
        <img
          src="images/home/frame/toolbox/telehealth-right-frame.svg"
          alt="Telehealth right"
        >
      </div>
    </div>
    <!-- Telehealth Seamless Integration Section End-->
  </section>
  <!--====| Toolbox Section End |====-->

  <!--====| LegitScript Section Start |====-->
  <section class="legitscript-section section bg-yellow">
    <div class="container">
      <div class="row">
        <div class="col-md-7 pe-xl-120 pe-lg-50 pe-auto text-md-start text-center">
          <img
            src="images/home/legit-script.svg"
            alt="Legit Script Logo"
            data-aos="fade-right"
            data-aos-duration="300"
            data-aos-easing="ease-in-out-cubic"
          />
          <h2
            class="mt-lg-40 mt-20 fw-700"
            data-aos="fade-up"
            data-aos-duration="400"
            data-aos-easing="ease-in-out-cubic"
          >
            Achieve LegitScript Certification with ThriveWell!  
          </h2>
          <div
            class="section-img deep-yellow d-md-none d-block mt-30 mb-20"
            data-aos="zoom-in"
            data-aos-duration="500"
            data-aos-easing="ease-in-out-cubic"
          >
            <img
              src="images/home/achieve-legitscript.webp"
              alt=" LegitScript Certification"
              class="w-100"
            />
          </div>
          <p
            class="fs-xl-20 fs-lg-18 fs-md-16 fs-14 mt-20"
            data-aos="fade-right"
            data-aos-duration="500"
            data-aos-easing="ease-in-out-cubic"
          >
            ThriveWell specializes in providing comprehensive consulting
            services for healthcare businesses seeking LegitScript
            certification. This certification serves as a recognized seal of
            approval, demonstrating compliance with high standards of care and
            credibility. By guiding you through the process, ThriveWell ensures
            that your online operations meet these rigorous requirements.
          </p>
          <a
            href="#"
            class="btn-cta-outline mt-lg-20 mt-10"
            data-aos="fade-up"
            data-aos-duration="900"
            data-aos-easing="ease-in-out-cubic"
          >Learn More </a>
        </div>

        <div class="col-md-5 d-md-block d-none">
          <div
            class="section-img deep-yellow"
            data-aos="zoom-in"
            data-aos-duration="700"
            data-aos-easing="ease-in-out-cubic"
          >
            <img
              src="images/home/achieve-legitscript.webp"
              alt=" LegitScript Certification"
              class="w-100"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="legitscript-frame">
      <div class="legitscript-left-frame">
        <img
          src="images/home/frame/legitscript/left-frame.svg"
          alt="legitscript left"
        >
      </div>
      <div class="legitscript-right-frame">
        <img
          src="images/home/frame/legitscript/right-frame.svg"
          alt="legitscript right"
        >
      </div>
    </div>
  </section>
  <!--====| LegitScript Section End |====-->

  <!--====| Security & Compliance Section Start |====-->
  <section class="security-section section">
    <div class="container">
      <div class="d-md-flex d-block gap-lg-3 gap-1 pb-lg-50 pb-md-20 pb-0">
        <h2
          class="lh-1 pe-120"
          data-aos="fade-up-right"
          data-aos-duration="300"
          data-aos-easing="ease-in-out"
        >
          Advanced Security and <br />
          Compliance Solutions
        </h2>
        <p
          class="mt-md-0 mt-20"
          data-aos="fade-up-left"
          data-aos-duration="300"
          data-aos-easing="ease-in-out"
        >
          At Thrivewell, we prioritize security and compliance to empower
          healthcare providers and enhance patient care. Let’s explore our
          robust features:
        </p>
      </div>
      <div class="common-border"></div>
      <div class="row justify-content-end mt-xl-80 mt-lg-50 mt-30">
        <div
          class="col-md-5 d-flex"
          data-aos="fade-up-left"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
          <div class="infographic-card flex-grow-1">
            <div>
              <i class="icon-security"></i>
            </div>
            <div>
              <p class="mt-50 fw-bold">Compliance with HIPAA, SOC 2, and PCI</p>
              <p>
                We adhere to industry-leading security and privacy standards.
                Thrivewell.com is compliant with HIPAA, SOC 2, and PCI DSS,
                ensuring your peace of mind. Focus on patient care while we
                manage compliance risks.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-5 d-flex mt-md-0 mt-20"
          data-aos="fade-up-left"
          data-aos-duration="600"
          data-aos-easing="ease-in-out"
        >
          <div class="infographic-card flex-grow-1">
            <div>
              <i class="icon-lock"></i>
            </div>
            <div>
              <p class="mt-50 fw-bold">Closed-Loop System</p>
              <p>
                Enhance your telehealth capabilities with our closed-loop
                software. Enjoy complete end-to-end control and security.
                Efficient and confidential healthcare interactions are at your
                fingertips.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end mt-20">
        <div
          class="col-md-5 d-flex"
          data-aos="fade-up-left"
          data-aos-duration="600"
          data-aos-easing="ease-in-out"
        >
          <div class="infographic-card flex-grow-1">
            <div>
              <i class="icon-finger-print"></i>
            </div>
            <div>
              <p class="mt-50 fw-bold">Data Encryption at Rest</p>
              <p>
                Safeguard patient data, even when it’s not actively in use. Our
                advanced encryption ensures compliance and confidentiality,
                providing the utmost protection for your patients' information.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-5 mt-md-0 mt-20"
          data-aos="fade-up-left"
          data-aos-duration="700"
          data-aos-easing="ease-in-out"
        >
          <div class="infographic-card flex-grow-1">
            <div>
              <i class="icon-qr-code"></i>
            </div>
            <div>
              <p class="mt-50 fw-bold">Multi-Layered Authentication (MLA)</p>
              <p>
                Trust is paramount. Our telehealth platform incorporates MLA,
                ensuring compliance with HIPAA regulations. Protect sensitive
                information and instill patient confidence.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="security-frame">
      <div class="security-left-frame">
        <img
          src="images/home/frame/security/security-left.svg"
          alt="security left"
        >
      </div>
      <div class="security-left-frame-2">
        <img
          src="images/home/frame/security/security-left-2.svg"
          alt="security left"
        >
      </div>
      <div class="security-right-frame">
        <img
          src="images/home/frame/security/security-right.svg"
          alt="security right"
        >
      </div>
    </div>
  </section>
  <!--====| Security & Compliance Section End |====-->

  <!--====| CTA Section Section |====-->
  <cta></cta>
  <!--====| CTA Section End |====-->

  <!--====| HOW TW Work Section Start |====-->
  <section class="how-to-section section overflow-hidden">
    <div class="container">
      <h2
        class="text-md-start text-center"
        data-aos="fade-up-right"
        data-aos-duration="300"
        data-aos-easing="ease-in-out"
      >How Thrivewell Works</h2>
      <div class="common-border mt-lg-40 mt-20"></div>
      <div class="row mt-xl-80 mt-lg-40 mt-md-20 mt-10 g-4">
        <div class="col-sm-6 d-flex work-card-col text-md-start text-center">
          <div
            class="work-card flex-grow-1 text-md-start text-center"
            data-aos="fade-up-right"
            data-aos-duration="300"
            data-aos-easing="ease-in-out"
          >
            <h3
              class="text-capitalize text-dark"
              data-aos="fade-up"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
            >
              Wide Range of <br />
              Treatment Categories
            </h3>
            <p
              class="mt-20"
              data-aos="fade-up"
              data-aos-duration="650"
              data-aos-easing="ease-in-out"
            >
              Discover a diverse selection of treatment categories on
              Thrivewell. Whether you’re launching a new telehealth brand or
              enhancing your existing services, we’ve got you covered. Our
              platform enables you to offer a robust yet tailored digital
              healthcare experience for your unique brand identity.
            </p>
            <div class="text-center position-relative z-1 d-md-block d-none">
              <img
                src="images/home/body-mesure.png"
                alt="Wide Range of Treatment Categories"
                class="img-fluid"
                data-aos="zoom-in-up"
                data-aos-duration="700"
                data-aos-easing="ease-in-out"
              />
            </div>
            <div class="work-card-frame-1">
              <div class="card-left">
                <img
                  src="images/home/frame/work-card/work-card-frame-1/card-left.svg"
                  alt="card left"
                >
              </div>
              <div class="card-right">
                <img
                  src="images/home/frame/work-card/work-card-frame-1/card-right.svg"
                  alt="card right"
                >
              </div>
              <div class="card-top">
                <img
                  src="images/home/frame/work-card/work-card-frame-1/card-top.svg"
                  alt="card Top"
                >
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-6 d-flex work-card-col text-md-start text-center">
          <div
            class="work-card bg-alt flex-grow-1"
            data-aos="fade-up-left"
            data-aos-duration="300"
            data-aos-easing="ease-in-out"
          >
            <h3
              class="text-capitalize text-white"
              data-aos="fade-up"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
            >
              Customize your <br />
              brand
            </h3>
            <p
              class="mt-20 text-white"
              data-aos="fade-up"
              data-aos-duration="650"
              data-aos-easing="ease-in-out"
            >
              At Thrivewell, you have full control. Utilize our user-friendly
              software to personalize your telehealth services with your
              branding. From logos to color schemes, make it distinctly yours.
            </p>
            <div class="text-end shadow-img d-md-block d-none">
              <img
                src="images/home/doctor-list.png"
                alt="Customize your brand"
                class="img-fluid me-xl-n50 me-lg-0 special-img position-relative z-1"
                data-aos="zoom-in-up"
                data-aos-duration="700"
                data-aos-easing="ease-in-out"
              />
            </div>
            <div class="work-card-frame-1">
              <div class="card-left">
                <img
                  src="images/home/frame/work-card/work-card-frame-2/card-left.svg"
                  alt="card left"
                >
              </div>
              <div class="card-right">
                <img
                  src="images/home/frame/work-card/work-card-frame-2/card-right.svg"
                  alt="card right"
                >
              </div>
              <div class="card-top">
                <img
                  src="images/home/frame/work-card/work-card-frame-2/card-top.svg"
                  alt="card Top"
                >
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-6 d-flex work-card-col text-md-start text-center">
          <div
            class="work-card bg-alt flex-grow-1"
            data-aos="fade-up-right"
            data-aos-duration="300"
            data-aos-easing="ease-in-out"
          >
            <h3
              class="text-capitalize text-white position-relative z-1"
              data-aos="fade-up"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
            >
              Seamless Prescription <br />
              Fulfillment
            </h3>
            <p
              class="mt-20 text-white"
              data-aos="fade-up"
              data-aos-duration="650"
              data-aos-easing="ease-in-out"
            >
              We handle the heavy lifting. Thrivewell integrates effortlessly
              with qualified telehealth physicians and pharmacies. If you have
              preferred partners, we can integrate with them too, ensuring
              hassle-free prescription fulfillment for your patients.
            </p>
            <div class="pb-20 position-relative z-1 d-md-block d-none">
              <img
                src="images/home/prescription.png"
                alt="Customize your brand"
                class="img-fluid special-img"
                data-aos="zoom-in-up"
                data-aos-duration="700"
                data-aos-easing="ease-in-out"
              />
            </div>

            <div class="work-card-frame-1">
              <div class="card-left">
                <img
                  src="images/home/frame/work-card/work-card-frame-2/card-left.svg"
                  alt="card left"
                >
              </div>
              <div class="card-right">
                <img
                  src="images/home/frame/work-card/work-card-frame-2/card-right.svg"
                  alt="card right"
                >
              </div>
              <div class="card-top ">
                <img
                  src="images/home/frame/work-card/work-card-frame-2/card-top.svg"
                  alt="card Top"
                >
              </div>
            </div>
          </div>

        </div>
        <div class="col-sm-6 d-flex work-card-col text-md-start text-center">
          <div
            class="work-card flex-grow-1"
            data-aos="fade-up-left"
            data-aos-duration="300"
            data-aos-easing="ease-in-out"
          >
            <h3
              class="text-capitalize text-dark"
              data-aos="fade-up"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
            >
              Quick Customer <br />
              Acquisition
            </h3>
            <p
              class="mt-20"
              data-aos="fade-up"
              data-aos-duration="650"
              data-aos-easing="ease-in-out"
            >
              Time is critical. With Thrivewell, you can start acquiring
              customers within days. Our built-in conversion optimization tools
              and analytics enable you to scale your marketing efforts
              effectively. Additionally, we will provide comprehensive support
              and guidance to help you attract even more customers, ensuring
              your business grows efficiently and successfully.
            </p>
            <div class="text-center position-relative z-1 d-md-block d-none">
              <img
                src="images/home/customer-acwuisition.png"
                alt="Quick Customer Acquisition"
                class="img-fluid"
                data-aos="zoom-in-up"
                data-aos-duration="700"
                data-aos-easing="ease-in-out"
              />
            </div>
            <div class="work-card-frame-1">
              <div class="card-left">
                <img
                  src="images/home/frame/work-card/work-card-frame-1/card-left.svg"
                  alt="card left"
                >
              </div>
              <div class="card-right">
                <img
                  src="images/home/frame/work-card/work-card-frame-1/card-right.svg"
                  alt="card right"
                >
              </div>
              <div class="card-top">
                <img
                  src="images/home/frame/work-card/work-card-frame-1/card-top.svg"
                  alt="card Top"
                >
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--====| HOW TW Work Section End |====-->

  <!--====| HOW TW Work Section Start |====-->
  <section class="section how-to-section frame overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">
          <p
            class="fs-20 fw-medium"
            data-aos="fade-up"
            data-aos-duration="300"
            data-aos-easing="ease-in-out"
          >
            Enhance your Direct-To-Consumer brand using our comprehensive
            telehealth toolkit, meticulously crafted to optimize your entire
            operational workflow.
          </p>
          <p
            class="fs-20 fw-medium mb-0"
            data-aos="fade-up"
            data-aos-duration="400"
            data-aos-easing="ease-in-out"
          >Here’s how it works:</p>
        </div>
      </div>
      <div class="row mt-10 g-4 text-lg-start text-center">
        <div class="col-lg-6 col-12 d-flex work-card-col">
          <div
            class="work-card flex-grow-1"
            data-aos="fade-up-right"
            data-aos-duration="300"
            data-aos-easing="ease-in-out"
          >
            <h3
              class="text-capitalize text-dark"
              data-aos="fade-up"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
            >
              Customize Your <br />Telehealth Experience
            </h3>
            <p
              class="mt-30"
              data-aos="fade-up"
              data-aos-duration="650"
              data-aos-easing="ease-in-out"
            >
              <span class="fw-bold">Branding Integration:</span> Upload your
              brand guidelines and logo. Our team will ensure that your
              telehealth platform reflects your identity seamlessly.
            </p>
            <p
              class="mt-10"
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-easing="ease-in-out"
            >
              <span class="fw-bold">Theme and Color Selection:</span> Choose a
              theme and color palette that resonates with your vision. Our
              designers will create an inviting and cohesive user experience.
            </p>
            <p
              class="mt-10"
              data-aos="fade-up"
              data-aos-duration="750"
              data-aos-easing="ease-in-out"
            >
              <span class="fw-bold">Proprietary Software Platform:</span>
              Leverage our powerful software to customize your telehealth
              services. From prescription fulfillment to seamless pharmacy
              integration, we’ve got you covered.
            </p>
            <p
              class="mt-40"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-easing="ease-in-out"
            >
              Let’s build a thriving virtual health ecosystem together!
            </p>
            <div
              class="text-center mt-80 position-relative z-1"
              data-aos="zoom-in-up"
              data-aos-duration="900"
              data-aos-easing="ease-in-out"
            >
              <img
                src="images/home/custom-websites.png"
                alt="Customize Your Telehealth Experience"
                class="img-fluid"
              />
            </div>
            <div class="work-card-frame-1">
              <div class="card-left">
                <img
                  src="images/home/frame/work-card/work-card-frame-1/card-left.svg"
                  alt="card left"
                >
              </div>
              <div class="card-right">
                <img
                  src="images/home/frame/work-card/work-card-frame-1/card-right.svg"
                  alt="card right"
                >
              </div>
              <div class="card-top">
                <img
                  src="images/home/frame/work-card/work-card-frame-1/card-top.svg"
                  alt="card Top"
                >
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-6 col-12 d-flex work-card-col">
          <div
            class="work-card bg-alt flex-grow-1"
            data-aos="fade-up-left"
            data-aos-duration="300"
            data-aos-easing="ease-in-out"
          >
            <h3
              class="text-capitalize text-white"
              data-aos="fade-up"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
            >
              Custom Websites <br />Tailored Just for You!
            </h3>
            <p
              class="mt-30 text-white"
              data-aos="fade-up"
              data-aos-duration="650"
              data-aos-easing="ease-in-out"
            >
              At Thrivewell, we bring your vision to life. Our custom website
              development services give your brand a standout digital presence.
            </p>
            <p
              class="mt-10 text-white"
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-easing="ease-in-out"
            >
              <span class="fw-bold">Share Your Requirements:</span> Provide us
              with your unique needs, preferences, and goals.
            </p>
            <p
              class="mt-10 text-white"
              data-aos="fade-up"
              data-aos-duration="750"
              data-aos-easing="ease-in-out"
            >
              <span class="fw-bold">Our Expertise Takes Over:</span> Our team of
              designers, developers, and strategists will transform your
              requirements into a stunning website.
            </p>
            <p
              class="mt-10 text-white"
              data-aos="fade-up"
              data-aos-duration="800"
              data-aos-easing="ease-in-out"
            >
              <span class="fw-bold">Seamless Process:</span> From design to
              deployment, we handle everything. You can focus on your business
              while we create your online masterpiece.
            </p>
            <p
              class="mt-10 text-white"
              data-aos="fade-up"
              data-aos-duration="850"
              data-aos-easing="ease-in-out"
            >
              Ready to elevate your brand online? Let’s build something
              extraordinary!
            </p>
            <div class="text-center mt-25 position-relative z-1">
              <img
                src="images/home/customize-telehealth.png"
                alt="Customize Your Telehealth Experience"
                class="img-fluid"
                data-aos="zoom-in-up"
                data-aos-duration="900"
                data-aos-easing="ease-in-out"
              />
            </div>
            <div class="work-card-frame-1">
              <div class="card-left">
                <img
                  src="images/home/frame/work-card/work-card-frame-2/card-left.svg"
                  alt="card left"
                >
              </div>
              <div class="card-right">
                <img
                  src="images/home/frame/work-card/work-card-frame-2/card-right.svg"
                  alt="card right"
                >
              </div>
              <div class="card-top ">
                <img
                  src="images/home/frame/work-card/work-card-frame-2/card-top.svg"
                  alt="card Top"
                >
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="ht-frame">
      <div class="frame-left">
        <img
          src="images/home/frame/work-card/work-left.svg"
          alt="Work Left"
        >
      </div>
      <div class="frame-right">
        <img
          src="images/home/frame/work-card/work-right.svg"
          alt="Work Left"
        >
      </div>
    </div>
  </section>
  <!--====| HOW TW Work Section End |====-->

  <!--====| Telehealth Partner Section Start |====-->
  <section class="telehealth-section pt-lg-80 pt-50 bg-secondary-light ">
    <div class="container ">
      <h3
        class="text-md-start text-center"
        data-aos="fade-up-right"
        data-aos-duration="300"
        data-aos-easing="ease-in-out"
      >Thrivewell: Your Telehealth Success Partner</h3>
      <div class="row">
        <div class="col-md-5 ">
          <p
            class="fs-20 fw-bold  mt-10 text-md-start text-center"
            data-aos="fade-up"
            data-aos-duration="400"
            data-aos-easing="ease-in-out"
          >Launching a new telehealth business or growing your DTC brand? Thrivewell is here
            to support you every
            step
            of the
            way</p>
          <div class="text-md-start text-center">
            <ul class="text-start d-md-flex d-inline-block flex-column  gap-20 mt-20">
              <li
                class="fw-medium"
                data-aos="fade-right"
                data-aos-duration="450"
                data-aos-easing="ease-in-out"
              >
                <i class="icon-tick"></i> Experience the Power of Connection
              </li>
              <li
                class="fw-medium mt-md-0 mt-20"
                data-aos="fade-right"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
                <i class="icon-tick"></i> See the Difference
              </li>
              <li
                class="fw-medium mt-md-0 mt-20"
                data-aos="fade-right"
                data-aos-duration="550"
                data-aos-easing="ease-in-out"
              >
                <i class="icon-tick"></i> Your Catalyst for Success
              </li>
            </ul>
          </div>

          <div class="text-md-start text-center mb-md-0 mb-30">
            <a
              [routerLink]="'/your-telehealth-success-partner'"
              class="btn-cta-outline mt-30"
              data-aos="fade-up"
              data-aos-duration="700"
              data-aos-easing="ease-in-out-cubic"
            >Learn More </a>
          </div>
        </div>
        <div class="col-md-7 ">
          <div>
            <img
              src="images/home/our-partner.webp"
              alt="Our Partner"
              class="w-100"
              data-aos="zoom-in-up"
              data-aos-duration="600"
              data-aos-easing="ease-in-out"
            >
          </div>
        </div>
      </div>
    </div>
    <div class="telehealth-frame">
      <div class="frame-top">
        <img
          src="images/home/frame/telehealth-partner/top-frame.svg"
          alt="Top Frame"
        >
      </div>
      <div class="frame-bg">
        <img
          src="images/home/frame/telehealth-partner/frame-bg.svg"
          alt="Frame Bg"
        >
      </div>
    </div>
  </section>
  <!--====| Telehealth Partner Section End |====-->
</main>
<!--====|| Main Section End ||====-->

<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->