<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->
<!--====| Banner Section Start |====-->
<section class="home-banner section">
  <div class="container">
    <h1 class="text-capitalize">Transform your Telehealth <br> vision into reality
    </h1>
    <div class="row">
      <div class="col-md-8 pb-70">
        <div class="mt-50 pe-120">
          <p class="fs-20 fw-medium text-primary">Introducing the premier telehealth solution. </p>
          <p>Transform healthcare with Thrivewell's industry-leading telehealth system.</p>
          <p>Our comprehensive platform simplifies operations and integrates seamlessly, letting you focus on what matters most - your patients.
          </p>
          <p class="fw-semibold">Request a free demo and see the telehealth revolution for yourself! </p>
          <a
            href="#"
            class="btn-cta mt-20"
          >Book Now</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mt-n80">
          <img
            src="images/home/mobile-browsing.png"
            alt="Mobile Browse"
            class="w-100"
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--====| Banner Section End |====-->

<!--====|| Main Section Start ||====-->
<main>
  <!--====| Client Section Start |====-->
  <section class="counter-section section">
    <div class="counter container">
      <div class="d-flex gap-35 pb-30">
        <h2 class="text-nowrap lh-1">Proven Results</h2>
        <p class="fs-20">Thrivewell goes beyond promises. Our custom health-commerce websites get real results. See how we've boosted online
          visibility and
          conversions for
          businesses like yours. Join our growing list of success stories. Choose Thrivewell for measurable impact.</p>
      </div>
      <div class="common-border"></div>
      <div>
        <div class="row mt-60">
          <div class="col-md-4 text-center">
            <p class="fs-78 fw-250 d-flex align-items-center justify-content-center"><span>200</span>K+ <i
                class="icon-up-arrow fs-55 text-primary ms-30"
              ></i></p>
            <p class="fs-25 fw-300 mb-0">Prescriptions Written</p>
          </div>
          <div class="col-md-4 text-center">
            <p class="fs-78 fw-250 d-flex align-items-center justify-content-center"><span>40</span>+ <i
                class="icon-up-arrow fs-55 text-primary ms-30"
              ></i>
            </p>
            <p class="fs-25 fw-300 mb-0">States Licensed</p>
          </div>
          <div class="col-md-4 text-center">
            <p class="fs-78 fw-250 d-flex align-items-center justify-content-center"><span>50</span>K+ <i
                class="icon-up-arrow fs-55 text-primary ms-30"
              ></i></p>
            <p class="fs-25 fw-300 mb-0">Happy Patients Served</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--====| Client Section End |====-->

  <!--====| Toolbox Section Start |====-->
  <section class=" section bg-secondary-light">

    <div class="toolbox-header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mb-10">
            <h2 class="fw-normal">Empower your DTC brand <br> with an all-inclusive toolbox.</h2>
            <p class="fs-20 pe-60 mt-20">Empower your direct-to-consumer brand with a seamless telehealth experience. Our all-in-one toolkit
              streamlines
              operations and
              simplifies patient
              care, so you can focus on growth. Learn more today!</p>
          </div>
          <div class="col-12">
            <div class="common-border"></div>
          </div>
        </div>
      </div>
    </div>
    <!--Toolbox Header End-->

    <div class="ecommerce-service section">
      <div class="container">
        <div class="row ">
          <div class="col-md-6 pe-50">
            <h4 class="mb-20">Simplify Your E-Commerce <br> Experience  </h4>
            <p class="fw-medium">Create a frictionless patient experience with our <br>ecommerce solutions for telehealth.</p>
            <p class="fw-medium">We offer:</p>
            <div class="row">
              <div class="col-md-6">
                <ul class="d-flex flex-column gap-20">
                  <li class="fw-medium"><i class="icon-tick "></i> Professional Branding</li>
                  <li class="fw-medium"><i class="icon-tick "></i> Easy Onboarding</li>
                  <li class="fw-medium"><i class="icon-tick "></i> Quick Doctor Visit</li>
                  <li class="fw-medium"><i class="icon-tick "></i> Seamless Payments</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="d-flex flex-column gap-20">
                  <li class="fw-medium"><i class="icon-tick"></i> Flexible Promotions</li>
                  <li class="fw-medium"><i class="icon-tick"></i> Secure Transactions</li>
                  <li class="fw-medium"><i class="icon-tick"></i> Fast Verification</li>
                </ul>
              </div>
              <a
                class="btn-cta-outline mt-30"
                href="#"
              >Learn More </a>
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="section-img">
              <img
                src="images/home/ecommerce-exp.webp"
                alt="E-Commerce Experience"
                class="w-100"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Simplify E-Commerce Section End-->

    <div class="ecommerce-service pt-60 pb-80">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="section-img">
              <img
                src="images/home/telehealt-integration.webp"
                alt="Telehealth Seamless Integration "
                class="w-100"
              >
            </div>
          </div>
          <div class="col-md-6 ps-80">
            <h4 class="mb-20">Revolutionizing Telehealth: <br> Seamless Integration</h4>
            <p class="fw-medium">Our intuitive software seamlessly merges all aspects of telehealth solutions, ensuring a streamlined healthcare
              journey. Let’s
              explore the key
              features that set us apart:</p>

            <div class="row">
              <div class="col-md-6">
                <ul class="d-flex flex-column gap-20">
                  <li class="fw-medium"><i class="icon-tick"></i> Asynchronous Visits</li>
                  <li class="fw-medium"><i class="icon-tick"></i> Dedicated Patient Portal</li>
                  <li class="fw-medium"><i class="icon-tick"></i> Trusted Doctor Network </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="d-flex flex-column gap-20">
                  <li class="fw-medium"><i class="icon-tick"></i> Comprehensive Doctor
                    Portal and CRM</li>
                  <li class="fw-medium"><i class="icon-tick"></i> Secure Doctor-Patient Messaging</li>
                </ul>
              </div>
              <a
                href="#"
                class="btn-cta-outline mt-30"
              >Learn More </a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Telehealth Seamless Integration Section End-->

    <div class="ecommerce-service pt-60">
      <div class="container">
        <div class="row">

          <div class="col-md-6">
            <h4 class="mb-20">Efficient Fulfillment for Your <br> Telehealth Venture  </h4>
            <p class="fw-medium pe-50">We understand that fulfillment is a critical aspect of telehealth business. Our platform ensures secure, direct
              medication
              shipments from pharmacy to
              patients. Let’s explore the key features that enhance your DTC brand experience:</p>

            <div class="row">
              <div class="col-md-6 pe-md-0 pe-auto">
                <ul class="d-flex flex-column gap-20">
                  <li class="fw-medium"><i class="icon-tick"></i> Nationwide Pharmacy Network</li>
                  <li class="fw-medium"><i class="icon-tick"></i> Custom Branding on Packaging</li>
                  <li class="fw-medium"><i class="icon-tick"></i> Customized Formulas</li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="d-flex flex-column gap-20">
                  <li class="fw-medium"><i class="icon-tick"></i>Built-in Shipping Integration </li>
                  <li class="fw-medium"><i class="icon-tick"></i>Dynamic Discount Codes</li>
                  <li class="fw-medium"><i class="icon-tick"></i>Automated ID Verification</li>
                </ul>
              </div>
              <a
                href="#"
                class="btn-cta-outline mt-30"
              >Learn More </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="section-img">
              <img
                src="images/home/telehealth-venture.webp"
                alt="elehealth Venture"
                class="w-100"
              >
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Telehealth Seamless Integration Section End-->

  </section>
  <!--====| Toolbox Section End |====-->
</main>