<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====| Banner Section Start |====-->
<section class="home-banner">
  <div class="container">
    <h1 class="text-capitalize">Transform your Telehealth <br> vision into reality
    </h1>
    <div class="row">
      <div class="col-md-8 pb-70">
        <div class="mt-50 pe-120">
          <p class="fs-20 fw-medium text-primary">Introducing the premier telehealth solution. </p>
          <p>Transform healthcare with Thrivewell's industry-leading telehealth system.</p>
          <p>Our comprehensive platform simplifies operations and integrates seamlessly, letting you focus on what matters most - your patients.
          </p>
          <p class="fw-semibold">Request a free demo and see the telehealth revolution for yourself! </p>
          <a
            href="#"
            class="cta-btn mt-20"
          >Book Now</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mt-n80">
          <img
            src="images/home/mobile-browsing.png"
            alt="Mobile Browse"
            class="w-100"
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!--====| Banner Section End |====-->