<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====|| Solutions Banner Start ||====-->
<section class="other-page-banner bg-yellow position-relative z-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h6
          class="ff-urbanist fs-md-28 fs-18 fw-medium text-primary text-uppercase  text-md-start text-center"
          data-aos="fade-up-right"
          data-aos-duration="700"
          data-aos-easing="ease-in-out-cubic"
        >
          SOLUTIONS
        </h6>
        <h2
          class="fw-bold text-capitalize text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >Comprehensive Platform, Simplified Solution Delivery.</h2>
        <p
          class="fs-20 fw-medium mt-30 mb-0 text-md-start text-center"
          data-aos="fade-up"
          data-aos-duration="1100"
          data-aos-easing="ease-in-out-cubic"
        >
          ThrivewellRx provides scalable, white-labeled telehealth solutions that enable healthcare organizations to expand their service offerings
          and enhance
          patient experience. ThrivewellRx offers customizable, end-to-end virtual care platforms to meet the evolving needs of your business and
          patients. We
          are proud to offer a comprehensive, out-of-the-box digital telehealth platform.
        </p>
      </div>
    </div>
  </div>
  <other-banner-frame></other-banner-frame>
</section>
<!--====|| Solutions Banner End ||====-->

<!--====|| Main Section STart ||====-->
<main>
  <!--====|| Section One Design Start ||====-->
  <section class="solution-sec-one section position-relative overflow-hidden z-1">
    <div class="container">
      <div class="row">
        <div class="col-md-7 pe-xl-70  order-md-0 order-1 mt-md-0 mt-20">
          <div class="row gy-xl-30 gy-10">
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-right"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-right"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Access to Provider Networks:
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Leverage your own provider resources or tap into our comprehensive network of clinicians. We connect you with elite healthcare
                    providers to guarantee
                    superior patient care when needed. 
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-left"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-left"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Mail Order Pharmacy Fulfillment:
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Streamline prescription fulfillment with our mail order
                    pharmacy solutions. Allow your patients to receive their
                    medications promptly and conveniently, enriching their
                    healthcare journey.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-right"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-right"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Remote Patient Monitoring:
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    ThrivewellRx’s Remote Patient Monitoring program eliminates geographic limitations to exceptional care. By effortlessly collecting
                    real-time patient
                    data, healthcare providers can effectively manage medication adherence and chronic conditions from any distance. Experience care
                    without boundaries
                    with ThrivewellRx. 
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-left"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-left"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Branded Pharmacy Discount Programs:
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Offer more than just prescriptions to your patients with our branded pharmacy discount programs. Provide accessible and affordable
                    medication
                    solutions, boosting patient loyalty and enhancing health outcomes.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 order-md-1 order-0 mt-md-0 mt-20">
          <div
            class="section-img bg-primary"
            data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out-cubic"
          >
            <div class="img-wrapper">
              <img
                src="images/solutions/doctor-1.webp"
                alt="E-Commerce Experience"
                class="w-100"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec-one-frame">
      <div class="left-frame position-absolute z-n1 ">
        <img
          src="images/solutions/frame/sec-one/left-frame.svg"
          alt="Left Frame"
        >
      </div>
      <div class="right-frame position-absolute z-n1 ">
        <img
          src="images/solutions/frame/sec-one/right-frame.svg"
          alt=" Right Frame"
        >
      </div>
    </div>
  </section>
  <!--====|| Section One Design End ||====-->

  <!--====|| Section Two Design Start ||====-->
  <section class="solution-sec-two position-relative overflow-hidden z-1  section bg-secondary-light">
    <div class="container">
      <div class="row ">
        <div class="col-md-5 pe-xl-30 pe-auto mt-md-0 mt-20">
          <div
            class="section-img left-img"
            data-aos="zoom-in"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out-cubic"
          >
            <div class="img-wrapper left-sec-img">
              <img
                src="images/solutions/doctor-2.webp"
                alt="E-Commerce Experience"
                class="w-100 "
              />
            </div>
          </div>
        </div>
        <div class="col-md-7 mt-md-0 mt-20">
          <div class="row gy-xl-30 gy-10">
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-right"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-right"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Custom Branded Technology:
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Utilize our fully customizable, custom branded technology
                    platform to your advantage. Tailor the platform to match your
                    brand, ensuring a seamless and recognizable experience for
                    your patients.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-left"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-left"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Retail & Independent Pharmacy Services:
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Extend beyond just prescriptions with our flexible, retail &
                    independent pharmacy fulfillment options. Prescriptions can be
                    routed to your patient’s nearest retail or independent
                    pharmacy.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-right"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-right"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Synchronous & Asynchronous Telemedicine Solutions:
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Provide personalized care with our synchronous and
                    asynchronous telemedicine solutions. Enable direct, real-time
                    communication between patients and physicians, or offer
                    flexible care through patientsubmitted questionnaires,
                    reviewed by providers in under two minutes.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="single-card d-flex">
                <i
                  class="icon-tick"
                  data-aos="fade-up-left"
                  data-aos-duration="1300"
                  data-aos-easing="ease-in-out-cubic"
                ></i>
                <div>
                  <h6
                    class="fs-18 fw-bold ff-urbanist text-primary"
                    data-aos="fade-up-left"
                    data-aos-duration="1300"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Lab Testing & Diagnostics:
                  </h6>
                  <p
                    class="fs-16"
                    data-aos="fade-up"
                    data-aos-duration="1400"
                    data-aos-easing="ease-in-out-cubic"
                  >
                    Enhance your telehealth offerings with comprehensive lab
                    testing and diagnostic capabilities. By integrating these
                    services, ensure your patients receive a comprehensive
                    healthcare experience from the comfort of their homes.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sec-two-frame">
      <div class="top-right-frame position-absolute end-0 top-0 z-n1 ">
        <img
          src="images/solutions/frame/sec-two/top-right.svg"
          alt="top right Frame"
          class="w-100 "
        >
      </div>
      <div class="left-frame position-absolute z-n1 ">
        <img
          src="images/solutions/frame/sec-two/left-frame.svg"
          alt="Left Frame"
        >
      </div>
      <div class="right-frame position-absolute z-n1 ">
        <img
          src="images/solutions/frame/sec-two/right-frame.svg"
          alt=" Right Frame"
        >
      </div>
    </div>
  </section>
  <!--====|| Section Two Design End ||====-->

  <!--====|| Section Three Design Start ||====-->
  <section class="solution-sec-three position-relative overflow-hidden z-1 section">
    <div class="container">
      <div class="row gy-xl-30 gy-10">
        <div class="col-md-6">
          <div class="single-card d-flex">
            <i
              class="icon-tick"
              data-aos="fade-up"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            ></i>
            <div>
              <h6
                class="fs-18 fw-bold ff-urbanist text-primary"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >
                Nutritional Supplementation:
              </h6>
              <p
                class="fs-16"
                data-aos="fade-up"
                data-aos-duration="1400"
                data-aos-easing="ease-in-out-cubic"
              >
                Bridge the gap between medicine and nutrition with ThrivewellRx’s nutritional
                supplementation service. Deliver targeted, medical-grade supplements covering
                a range of conditions from chronic diseases to nutrient deficiencies.
              </p>
              <p
                class="fs-16"
                data-aos="fade-up"
                data-aos-duration="1400"
                data-aos-easing="ease-in-out-cubic"
              >Discover the ThrivewellRx Advantage Our solutions are designed for scalability
                and flexibility, regardless of your telehealth expertise. Whether you’re a startup
                venturing into digital healthcare or an established provider seeking expansion,
                our solutions evolve with you. We empower you to deliver consistent, high-quality
                care at every stage of your digital healthcare journey.
              </p>
              <p
                class="fs-16"
                data-aos="fade-up"
                data-aos-duration="1400"
                data-aos-easing="ease-in-out-cubic"
              >With ThrivewellRx, the future of healthcare is at your fingertips.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="single-card d-flex">
            <i
              class="icon-tick"
              data-aos="fade-up"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            ></i>
            <div>
              <h6
                class="fs-18 fw-bold ff-urbanist text-primary"
                data-aos="fade-up"
                data-aos-duration="1100"
                data-aos-easing="ease-in-out-cubic"
              >
                Monetize Your Online Presence:
              </h6>
              <p
                class="fs-16"
                data-aos="fade-up"
                data-aos-duration="1400"
                data-aos-easing="ease-in-out-cubic"
              >
                By partnering with ThrivewellRx, your company can effortlessly embed our virtual care platform into your existing website, generating
                new revenue
                streams. This seamless integration provides immediate access to ThrivewellRx's comprehensive suite of solutions for any website
                visitor. 
              </p>
              <p
                class="fs-16"
                data-aos="fade-up"
                data-aos-duration="1400"
                data-aos-easing="ease-in-out-cubic"
              >With minimal effort from our partners, ThrivewellRx’s virtual care platform can be up and running within days, not months. Explore more
                about
                ThrivewellRx’s tailored solutions below.
              </p>

            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="sec-three-frame">
      <div class="left-frame position-absolute z-n1 ">
        <img
          src="images/solutions/frame/sec-three/top-left-frame.svg"
          alt="Left Frame"
        >
      </div>
      <div class="right-frame position-absolute z-n1 end-0 bottom-0">
        <img
          src="images/solutions/frame/sec-three/bottom-right-frame.svg"
          alt=" Right Frame"
        >
      </div>
    </div>
  </section>
  <!--====|| Section Three Design End ||====-->
</main>
<!--====|| Main Section End ||====-->

<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->