<section class="learn-faster-section section">
  <div class="container">
    <div class="learn-faster-card mx-auto">
      <div class="learn-faster-card__content text-center">
        <h2
          class="learn-faster-card__title ff-noto-serif text-white"
          data-aos="fade-up"
          data-aos-duration="900"
        >
          Launch Faster with ThriveWell RX
        </h2>
        <p
          class="learn-faster-card__text ff-urbanist text-white"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          With ThriveWell RX, you don't need to build the entire infrastructure
          from scratch. We help you launch with the technology, provider
          network, pharmacy workflows, support systems, and operational
          structure already in place.
        </p>
        <a
          [routerLink]="['/book-now']"
          class="learn-faster-card__button"
          data-aos="fade-up"
          data-aos-duration="1100"
        >
          Ready to Launch Your Healthcare Brand?
        </a>
        <p
          class="learn-faster-card__footer ff-urbanist text-white"
          data-aos="fade-up"
          data-aos-duration="1200"
        >
          Get Started with ThriveWell RX Today
        </p>
      </div>
    </div>
  </div>
</section>
