<div class="contact-form p-30 bg-white">
  <form
    [formGroup]="legitScriptContactForm"
    #formRef="ngForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="row gx-lg-4 gx-3 gy-lg-3 gy-1">
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="firstName"
            class="form-label fw-semibold"
          >First Name <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="first_name"
          >
          <span
            *ngIf="f['first_name'].errors && (formRef.submitted || f['first_name'].touched)"
            class="fs-14 fw-medium text-danger mt-1"
          >First name is required</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="lastName"
            class="form-label fw-semibold"
          >Last Name <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="last_name"
          >
          <span
            *ngIf="f['last_name'].errors && (formRef.submitted || f['last_name'].touched)"
            class="fs-14 fw-medium text-danger mt-1"
          >Last name is required</span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="email"
            class="form-label fw-semibold"
          >Work Email <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          >
          <div *ngIf="f['email'].errors && (formRef.submitted || f['email'].touched)">
            <p
              *ngIf="f['email'].errors['required']"
              class="fs-14 fw-medium text-danger mt-1"
            >Email name is required</p>
            <p
              *ngIf="f['email'].errors['email']"
              class="fs-14 fw-medium text-danger mt-1"
            >Invalid Email</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="state"
            class="form-label fw-semibold"
          >Your Country <span class="text-danger fs-11">(Required)</span></label>
          <select
            class="form-select"
            aria-label="Default select example"
            formControlName="country_id"
          >
            <option
              value="1"
              selected
            >United States</option>
          </select>

        </div>
      </div>
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="phoneNumber"
            class="form-label fw-semibold"
          >Phone Number <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="phoneNumber"
            formControlName="phone_number"
            (keypress)="restrictInput($event)"
          >
          <div *ngIf="f['phone_number'].errors && (formRef.submitted || f['phone_number'].touched)">
            <p
              *ngIf="f['phone_number'].errors['required']"
              class="fs-14 fw-medium text-danger mt-1"
            >Phone number is required</p>
            <p
              *ngIf="f['phone_number'].errors['minlength']"
              class="fs-14 fw-medium text-danger mt-1"
            > Phone number should be at least 10</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="signle-input mb-3">
          <label
            for="company"
            class="form-label fw-semibold"
          >Company Name <span class="text-danger fs-11">(Required)</span></label>
          <input
            type="text"
            class="form-control"
            id="company"
            formControlName="company"
          >
          <span
            *ngIf="f['company'].errors && (formRef.submitted || f['company'].touched)"
            class="fs-14 fw-medium text-danger mt-1"
          >Company is required</span>
        </div>
      </div>
      <div class="col-md-12">
        <div class="signle-input mb-3">
          <label
            for="message"
            class="form-label fw-semibold d-block"
          >Message <span class="text-danger fs-11">(Required)</span></label>
          <textarea
            name="message"
            id="message"
            rows="3"
            formControlName="message"
          ></textarea>
          <div
            *ngIf="f['message'].errors && (formRef.submitted || f['message'].touched)"
            class="fs-14 fw-medium text-danger mt-1"
          >
            <p
              *ngIf="f['message'].errors['required']"
              class="fs-14 fw-medium text-danger mt-1"
            >Message is required</p>
            <p
              *ngIf="f['message'].errors['minlength']"
              class="fs-14 fw-medium text-danger mt-1"
            >Message should be at least 100 characters</p>
          </div>
        </div>

      </div>


      <div class="col-12">
        <button
          type="submit"
          class="btn-cta mt-10 d-inline-block"
          style="max-width: 118px;"
        >Submit</button>
      </div>
    </div>
  </form>
</div>