<!--====| Header CSS Start |====-->
<app-header></app-header>
<!--====| Header Section End |====-->

<!--====|| Book Now Banner Start ||====-->
<section class="other-page-banner bg-yellow position-relative z-1 overflow-hidden">
  <div class="container">
    <div class="row">
      <div>
        <h2
          class="fw-bold text-capitalize pt-30"
          data-aos="fade-up"
          data-aos-duration="700"
          data-aos-easing="ease-in-out-cubic"
        >
          Empower your DTC brand with <br />
          an all-inclusive toolbox.
        </h2>
        <p
          data-aos="fade-up"
          data-aos-duration="900"
          data-aos-easing="ease-in-out-cubic"
        >Our platform is designed to scale with you</p>
      </div>
    </div>
  </div>
  <other-banner-frame></other-banner-frame>
</section>
<!--====|| Book Now Banner End ||====-->

<!--====|| Main Section Start ||====-->
<main>
  <!--====| Simplify Section Start |====-->
  <section class="simplify-section section position-relative z-1 overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-md-6 pe-md-50 pe-auto">
          <h4
            data-aos="zoom-in-up"
            data-aos-duration="700"
            data-aos-easing="ease-in-out-cubic"
          >Efficient Fulfillment for Your Telehealth Venture</h4>
          <p
            class="fw-medium mt-20"
            data-aos="fade-up"
            data-aos-duration="900"
            data-aos-easing="ease-in-out-cubic"
          >
            At Thrivewell.com, we understand that fulfillment is a critical
            aspect of your telehealth business. Our platform ensures secure,
            direct medication shipments from pharmacy to patients. Let’s explore
            the key features that enhance your DTC brand experience:
          </p>
          <ul class="d-flex flex-column gap-30 mt-30">
            <li
              class="fw-medium d-flex"
              data-aos="fade-right"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Nationwide Pharmacy Network:</strong>
                Access our extensive network of trusted pharmacies across the
                country. Reliable fulfillment ensures timely delivery and
                patient satisfaction.</span>
            </li>
            <li
              class="fw-medium d-flex"
              data-aos="fade-right"
              data-aos-duration="1200"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Custom Branding on Packaging:</strong>
                Make a lasting impression with custom-branded packaging. Your
                patients will recognize and trust your brand from the moment
                their order arrives.</span>
            </li>
            <li
              class="fw-medium d-flex"
              data-aos="fade-right"
              data-aos-duration="1300"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Customized Formulas:</strong>
                Tailor medications to meet individual needs. Our platform
                supports customized formulas, ensuring personalized care for
                every patient.</span>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <div
            class="section-img bg-primary"
            data-aos="zoom-in-up"
            data-aos-duration="1300"
            data-aos-easing="ease-in-out-cubic"
          >
            <div class="img-wrapper">
              <img
                src="images/home/telehealth-venture.webp"
                alt="elehealth Venture"
                class="w-100"
              />
            </div>
          </div>

          <ul class="d-flex flex-column gap-30 mt-35">
            <li
              class="fw-medium d-flex"
              data-aos="fade-left"
              data-aos-duration="1100"
              data-aos-easing="ease-in-out-cubic"
            >
              <i class="icon-tick mt-1 me-2"></i>
              <span>
                <strong class="text-primary">Built-in Shipping Integration:</strong>
                Seamlessly integrate shipping processes. From order processing
                to tracking, our system streamlines fulfillment, allowing you to
                focus on patient care.</span>
            </li>
          </ul>
          <p
            class="fs-24 fw-medium text-primary mt-20 mb-1"
            data-aos="fade-up"
            data-aos-duration="1200"
            data-aos-easing="ease-in-out-cubic"
          >
            Experience efficient fulfillment with Thrivewell.com.
          </p>
          <p
            class="mb-0 fw-medium"
            data-aos="fade-up"
            data-aos-duration="1300"
            data-aos-easing="ease-in-out-cubic"
          >Join us today!</p>
        </div>
      </div>
    </div>
    <div class="simplify-frame">
      <div class="left-frame">
        <img
          src="images/learn-more/simplify/left-frame.svg"
          alt="Left Frame"
        />
      </div>
      <div class="right-frame">
        <img
          src="images/learn-more/simplify/left-frame.svg"
          alt="Left Frame"
        />
      </div>
    </div>
  </section>
  <!--====| Simplify Section End |====-->

  <!--====|| How to connect Section Start ||====-->
  <contact-section></contact-section>
  <!--====|| How to connect Section End ||====-->
</main>
<!--====|| Main Section End ||====-->

<!--====| Footer Section Start |====-->
<app-footer></app-footer>
<!--====| Footer Section End |====-->