<header class=" container w-100   mt-xl-50 mt-lg-40 mt-md-30 mt-20">
  <nav
    class="navbar navbar-expand-md d-flex justify-content-between align-items-center  bg-white  rounded-md-4 rounded-3"
    data-aos="fade-down"
    data-aos-duration="800"
  >
    <div>
      <a [routerLink]="''">
        <img
          src="images/thrivewell-logo.svg"
          alt=""
        />
      </a>
    </div>
    <button
      class="navbar-toggler border-0"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor03"
      aria-controls="navbarColor03"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <i [ngClass]="{'icon-hamburger': isCollapsed, 'icon-close': !isCollapsed}"></i>
    </button>
    <div
      class="collapse navbar-collapse text-md-end text-center justify-content-md-end justify-content-center"
      id="navbarColor03"
      [ngbCollapse]="isCollapsed"
    >
      <ul class="d-md-flex d-block align-items-center gap-lg-40 gap-md-20">
        <li class="list-unstyled">
          <a
            [routerLink]="'/about'"
            routerLinkActive="active"
            class="text-dark fw-medium"
          >About</a>
        </li>
        <li class="list-unstyled"><a
            [routerLink]="'/solutions'"
            routerLinkActive="active"
            class="text-dark fw-medium"
          >Solutions</a></li>
        <li class="list-unstyled"><a
            [routerLink]="'/legitscript'"
            routerLinkActive="active"
            class="text-dark fw-medium"
          >LegitScript</a></li>
        <li class="list-unstyled"><a
            [routerLink]="'/faq'"
            routerLinkActive="active"
            class="text-dark fw-medium"
          >FAQ</a></li>
        <li class="list-unstyled"><a
            [routerLink]="'/book-now'"
            class="btn-cta"
          >Book Now</a></li>
        <li class="list-unstyled "><a
            href="tel:+12819374192"
            class=" d-flex align-items-center justify-content-md-start justify-content-center"
          >
            <i class="icon-call fw-medium text-primary me-10"></i>
            <span class="text-dark fw-medium fs-16">1 (281) 937-4192</span>
          </a></li>

      </ul>
    </div>
  </nav>
</header>