/*------------------*
# Variables
*------------------*/

/*
 * This file includes default variables to get going quickly on a project.
*/

/*
 * Base colors
*/
// scss-docs-start theme-color-variables

$red: #ff0000;
$blue: #2571e3;
$yellow: #fde25f;
$green: #34a852;
$cyan: #44b4db;
$periwink: #cbcaff;
$royalBlue: #4542dd;
$white: #ffffff;
//New colors
$primary-light-one: #406fb6;
$primary-light-two: #d6e6ff;
$primary-light-three: #e8f1ff;
$secondary-light: #fffbdd;
$secondary-yellow: #ffefa3;
$secondary-yellow-two: #fffdf2;
$gray-light: #fafafa;
$body: #ffffff;

$primary: #275dad;
$secondary: #ffc625;
$dark: #2b2b2b;
$gray: #8d8d8d;
$light: #f5f4f0;
$pastel-light: #CEEBEA;
$egg-white: #FDEFC1;

$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: #ff5a43;

// scss-docs-start theme-colors-map
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
);
// scss-docs-end theme-colors-map

$new-colors: (
  "body": $body,
  "secondary-light": $secondary-light,
  "yellow": $yellow,
  "gray": $gray,
  "gray-light": $gray-light,
  "secondary-yellow": $secondary-yellow,
  "secondary-yellow-two": $secondary-yellow-two,
  "primary-light-one": $primary-light-one,
  "primary-light-two": $primary-light-two,
  "primary-light-three": $primary-light-three,
  "pastel-light": $pastel-light,
  "egg-white": $egg-white,
);

$theme-colors: map-merge($theme-colors, $new-colors);
// scss-docs-start theme-colors-map

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1198px,
  xxl: 1200px,
);

$enable-negative-margins: true;

$link-decoration: none;
$line-height-base: 1.375;

// scss-docs-start spacer-variables-maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: calc($spacer / 4),
  2: calc($spacer / 2),
  3: calc($spacer),
  4: calc($spacer * 1.5),
  5: calc($spacer * 3),
  6: calc($spacer * 6),
  2px: 2px,
  5px: 5px,
  6px: 6px,
  7: 7px,
  10: 10px,
  12: 12px,
  14: 14px,
  16: 16px,
  17: 17px,
  20: 20px,
  22: 22px,
  25: 25px,
  26: 26px,
  27: 27px,
  28: 28px,
  30: 30px,
  35: 35px,
  40: 40px,
  45: 45px,
  50: 50px,
  55: 55px,
  60: 60px,
  65: 65px,
  70: 70px,
  75: 75px,
  80: 80px,
  90: 90px,
  96: 96px,
  100: 100px,
  120: 120px,
  150: 150px,
  170: 170px,
  200: 200px,
  280: 280px,
);

$table-color: #777171;
// $table-bg:                    transparent !default;

$table-th-font-weight: 700;

// scss-docs-start input-btn-variables
$input-btn-padding-y: 13px;
$input-btn-padding-x: 18px;
$input-btn-font-size: 13px;

$input-btn-focus-width: 0px;
$input-btn-focus-color: none;
$input-btn-focus-box-shadow: none;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-padding-y: 9px;
$btn-padding-x: 16px;
$btn-font-size: 13px;
$btn-line-height: 1;
$btn-font-weight: 400;

$btn-padding-y-sm: 8px;
$btn-padding-x-sm: 10px;
$btn-font-size-sm: 12px;

$btn-focus-width: 0;
$btn-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

$btn-border-radius: 4px;

// scss-docs-start form-input-variables
$input-padding-y: 9px;
$input-padding-x: 14px;
// $input-font-family:                     $input-btn-font-family !default;
$input-font-size: 13px;
$input-font-weight: 400;
$input-line-height: 1.385; // 18px / 13px = 1.385

$input-color: #696969;
// $input-border-width:                    $input-btn-border-width !default;
$input-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

$input-border-radius: 2px;

$input-height: 37px;
$input-height-sm: 26px !default;

// scss-docs-start form-select-variables
$form-select-padding-y: 8.5px;
$form-select-bg-position: right 12px center;
$form-select-bg-size: 16px 14px; // In pixels because image dimensions
$form-select-indicator: url('data:image/svg+xml, <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20.2 19.4" style="enable-background:new 0 0 20.2 19.4;" xml:space="preserve"> <style type="text/css"> .st0{fill:#C8C8C8;} </style> <path class="st0" d="M10.1,13.7c-0.3,0-0.5-0.1-0.7-0.3l-6-6C3,7,3,6.4,3.4,6s1-0.4,1.4,0l5.3,5.3L15.4,6c0.4-0.4,1-0.4,1.4,0 s0.4,1,0,1.4l-6,6C10.6,13.6,10.4,13.7,10.1,13.7z"/> </svg>');

$form-check-input-border: 1px solid #3a494e;
$form-switch-width: 2em !default;

$alert-color-scale: 40% !default;
$breadcrumb-divider: quote(">");
