// Global font-family classes
.ff-poppins {
  font-family: "Poppins", sans-serif;
}

.ff-dg {
  font-family: "Darker Grotesque", sans-serif;
}

.ff-syne {
  font-family: "Syne", sans-serif;
}

/*== Common font family integration start ==*/

body,
p,
a {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/*== Common font family integration end ==*/
