<header class="pf-ref-header">
  <div class="pf-ref-header__inner">
    <a
      [routerLink]="''"
      class="pf-ref-header__brand"
      aria-label="Thrivewell home"
    >
      <img
        src="images/thrivewell-logo.svg"
        alt=""
        width="180"
        height="48"
        class="pf-ref-header__logo"
      />
    </a>
    <div class="pf-ref-header__cta">
      <h3 class="pf-ref-header__cta-text">
        <span class="pf-ref-header__cta-line">Get your demo today!</span>
        <a
          href="tel:+19728437272"
          class="pf-ref-header__cta-phone"
        >1 (972) 843-7272</a>
      </h3>
    </div>
  </div>
</header>
